<!--
This is the Station Keeping module of the DTOceanPlus suite
Copyright (C) 2021 France Energies Marines - Neil Luxcey, Nicolas Michelet, Rocio Isorna

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <template v-if="Results == 'running'">
      <el-alert
        type="warning"
        title="Warning !"
        description="No changes will be taken into account for the current calculation."
        :closable="false"
        show-icon
      />
    </template>
    <br>

    <img src="@/assets/logos/ULS_FLS.png" alt="end spe" width="110" height="100" align="left">
    <tr>
      <td class="form_lines" style="width:20%; text-align:left">
        <h1 class="my_h1"> Analysis Parameters </h1>
      </td>
      <td class="form_lines" style="width:30%; text-align:right">
        <template v-if="Name === 'none' || Name.length == 0">
          <h2 class="h2_section"> Name of the Project : <span style="color:#16a085">Not defined</span></h2>
        </template>
        <template v-else>
          <h2 class="h2_section"> Name of the Project : <span style="color:#16a085">{{ Name }}</span></h2>
        </template>
      </td>
    </tr>
    <br>
    <el-collapse v-model="activeNames">
      <el-collapse-item name="1">
        <template slot="title">
          <h2 class="h2_section">
            ULS Analysis Parameters
          </h2>
        </template>

        <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar1" > Section Help </span>

        <ul>
          <span style="font-weight:bold;font-size:15px"> Weather direction : </span>
          <br><br>
          <el-button
            type="info"
            @click.prevent="addNewElement(Direction)"
          >
            Add Direction
          </el-button>
          <br>
          <br>

          <table>
            <tbody>
              <tr>
                <td style="background-color: #FFFFFF;border-left-style:hidden;border-top-style:hidden" />
                <td style="font-weight:bold;font-family:Open Sans"> Direction [deg] </td>
              </tr>
              <tr v-for="(direction, k) in Direction" :key="k">
                <td style="width:190px">
                  <el-button
                    icon="el-icon-delete"
                    type="danger"
                    @click.prevent="deleteElement(k, Direction)"
                  />
                </td>
                <td>
                  <el-input-number v-model="Direction[k]" style="width:125px" :controls="false" type="number" />
                </td>
              </tr>
            </tbody>
          </table>

          <div class="v-cloak">
            {{ Project.sk_inputs.uls_analysis_parameters.weather_direction = VectorFloat(Direction) }}
          </div>
        </ul>
        <br>
        <ul>
          <span style="font-weight:bold;font-size:15px"> Array of Hs and Tp 100-years return period to be analyzed : </span>
          <br><br>
          <el-button
            type="info"
            @click.prevent="addNewElement(HS), addNewElement(TP)"
            :disabled="ProjectStatus.flag_url_sc_get_device_statistics === 'True'"
          >
            Add Hs / Tp
          </el-button>
          <br>
          <br>

          <table>
            <tbody>
              <tr>
                <td style="background-color: #FFFFFF;border-left-style:hidden;border-top-style:hidden" />
                <td style="font-weight:bold;font-family:Open Sans"> Hs [m] </td>
                <td style="font-weight:bold;font-family:Open Sans"> Tp [s] </td>
              </tr>
              <tr v-for="(hs, k) in HS" :key="k">
                <td style="width:190px">
                  <el-button
                    icon="el-icon-delete"
                    type="danger"
                    @click.prevent="deleteElement(k, HS), deleteElement(k, TP)"
                    :disabled="ProjectStatus.flag_url_sc_get_device_statistics === 'True'"
                  />
                </td>
                <td>
                  <el-input-number v-model="HS[k]" style="width:125px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_sc_get_device_statistics === 'True'" />
                </td>
                <td>
                  <el-input-number v-model="TP[k]" style="width:125px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_sc_get_device_statistics === 'True'" />
                </td>
              </tr>
            </tbody>
          </table>

          <div class="v-cloak">
            {{ Project.sk_inputs.uls_analysis_parameters.hs_array = VectorFloat(HS) }}
            {{ Project.sk_inputs.uls_analysis_parameters.tp_array = VectorFloat(TP) }}
          </div>
        </ul>
        <br>
        <ul>
          <table style="border:none;width:1000px">
            <tr>
              <td class="form_lines" style="width:190px">
                <span style="font-weight:bold;font-size:15px"> Current velocity <br> 10-years return <br> period : </span>
              </td>
              <td class="form_lines" style="width:209px">
                <el-input-number v-model="Project.sk_inputs.uls_analysis_parameters.current_vel" style="width:150px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_sc_get_device_statistics === 'True'" />
              </td>
              <td class="form_lines" style="width:60px">
                <span>[m/s]</span>
              </td>
              <td class="form_lines" style="width:160px">
                <span style="font-weight:bold;font-size:15px"> Wind velocity <br> 100-years return period : </span>
              </td>
              <td class="form_lines" style="width:209px">
                <el-input-number v-model="Project.sk_inputs.uls_analysis_parameters.wind_vel" style="width:150px" :controls="false" type="number" :disabled="ProjectStatus.flag_url_sc_get_device_statistics === 'True'" />
              </td>
              <td class="form_lines">
                <span>[m/s]</span>
              </td>
            </tr>
          </table>
        </ul>

      </el-collapse-item>
      <hr>

      <el-collapse-item name="2">
        <template slot="title">
          <h2 class="h2_section">
            FLS Analysis Parameters
          </h2>
        </template>

        <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar2" > Section Help </span>

        <template v-if="Project.sk_inputs.device_properties.positioning_type === 'fixed'">
          <ul>
            <span style="font-weight:bold;font-size:15px"> No FLS Analysis for fixed structure </span>
          </ul>
        </template>
        <template v-else>
          <ul>
            <span style="font-weight:bold;font-size:15px"> Probability of environments occurence regarding intervals : </span>
            <br><br>
            <el-button
              type="info"
              @click.prevent="addNewElement(INTHSMin), addNewElement(INTHSMax), addNewElement(INTDPMin), addNewElement(INTDPMax), addNewElement(ATP), addNewElement(ATC), addNewElement(ADC), addNewElement(AW), addNewElement(ADW), addNewElement(HSDP)"
            >
              Add Bin
            </el-button>
            <el-button style="margin-left:20px" type="info" @click.prevent="DialogVisible = true">Load Excel File</el-button>

            <el-dialog title="Load Thrust Coefficient Curve" :visible.sync="DialogVisible" style="text-align:center">
              <span>
                <el-upload ref="upload"
                    action="https://jsonplaceholder.typicode.com/posts/"
                    class="upload-demo"
                    accept=".xlsx"
                    style="text-align:center"
                    drag
                    :auto-upload="true"
                    :http-request="uploaderExcel"
                    :limit="1"
                    data-cy="uploadBox"
                    :show-file-list="true">
                  <i class="el-icon-upload" />
                  <div class="el-upload__text">Drop file here or <em>click to upload</em></div>
                </el-upload>
              </span>
              <span slot="footer" class="dialog-footer">
                <el-button @click.prevent="DialogVisible = false" style="font-family:Open Sans">Cancel</el-button>
                <el-button type="success" @click.prevent="DialogVisible = false;UpdateTable()" style="font-family:Open Sans">Confirm</el-button>
              </span>
            </el-dialog>
            <br>
            <br>

            <table class="table_scroll">
              <tbody class="tbody_scroll">
                <tr>
                  <td />
                  <td style="font-weight:bold;font-family:Open Sans"> Hs Min [m] </td>
                  <td style="font-weight:bold;font-family:Open Sans"> Hs Max [m] </td>
                  <td style="font-weight:bold;font-family:Open Sans"> Dp Min [deg] </td>
                  <td style="font-weight:bold;font-family:Open Sans"> Dp Max [deg] </td>
                  <td style="font-weight:bold;font-family:Open Sans"> Associated TP [s] </td>
                  <td style="font-weight:bold;font-family:Open Sans"> Current Magnitude [m/s] </td>
                  <td style="font-weight:bold;font-family:Open Sans"> Current Direction [deg] </td>
                  <td style="font-weight:bold;font-family:Open Sans"> Wind Magnitude [m/s]</td>
                  <td style="font-weight:bold;font-family:Open Sans"> Wind Direction [deg]</td>
                  <td style="font-weight:bold;font-family:Open Sans"> Probability [%] </td>
                </tr>
                <tr v-for="(inthsMin, k) in INTHSMin" :key="k">
                  <td>
                    <el-button
                      icon="el-icon-delete"
                      type="danger"
                      @click.prevent="deleteElement(k, INTHSMin), deleteElement(k, INTHSMax), deleteElement(k, INTDPMin), deleteElement(k, INTDPMax), deleteElement(k, ATP), deleteElement(k, ATC), deleteElement(k, ADC), deleteElement(k, AW), deleteElement(k, ADW), deleteElement(k, HSDP)"
                      style="font-family:Open Sans"
                    />
                  </td>
                  <td>
                    <el-input-number v-model="INTHSMin[k]" style="width:125px" :controls="false" type="number" />
                  </td>
                  <td>
                    <el-input-number v-model="INTHSMax[k]" style="width:125px" :controls="false" type="number" />
                  </td>
                  <td>
                    <el-input-number v-model="INTDPMin[k]" style="width:125px" :controls="false" type="number" />
                  </td>
                  <td>
                    <el-input-number v-model="INTDPMax[k]" style="width:125px" :controls="false" type="number" />
                  </td>
                  <td>
                    <el-input-number v-model="ATP[k]" style="width:125px" :controls="false" type="number" />
                  </td>
                  <td>
                    <el-input-number v-model="ATC[k]" style="width:125px" :controls="false" type="number" />
                  </td>
                  <td>
                    <el-input-number v-model="ADC[k]" style="width:125px" :controls="false" type="number" />
                  </td>
                  <td>
                    <el-input-number v-model="AW[k]" style="width:125px" :controls="false" type="number" />
                  </td>
                  <td>
                    <el-input-number v-model="ADW[k]" style="width:125px" :controls="false" type="number" />
                  </td>
                  <td>
                    <el-input-number v-model="HSDP[k]" style="width:125px" :controls="false" type="number" :min="0" :max="100" />
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="v-cloak">
              {{ Project.sk_inputs.fls_analysis_parameters.intervals_hs_min = INTHSMin }}
              {{ Project.sk_inputs.fls_analysis_parameters.intervals_hs_max = INTHSMax }}
              {{ Project.sk_inputs.fls_analysis_parameters.intervals_dp_min = INTDPMin }}
              {{ Project.sk_inputs.fls_analysis_parameters.intervals_dp_max = INTDPMax }}
              {{ Project.sk_inputs.fls_analysis_parameters.associated_tp = ATP }}
              {{ Project.sk_inputs.fls_analysis_parameters.associated_cur = ATC }}
              {{ Project.sk_inputs.fls_analysis_parameters.associated_dircur = ADC }}
              {{ Project.sk_inputs.fls_analysis_parameters.associated_wind = AW }}
              {{ Project.sk_inputs.fls_analysis_parameters.associated_dirwind = ADW }}
              {{ Project.sk_inputs.fls_analysis_parameters.hs_dp_proba = HSDP }}
            </div>
          </ul>
        </template>

      </el-collapse-item>
      <hr>
    </el-collapse>

    <br>

    <el-button
      type="info"
      style="float:left;font-family:Open Sans"
      @click.prevent="changePage('Substation_Properties')"
    ><i class="el-icon-arrow-left" />Previous Page </el-button>

    <el-button
      type="info"
      style="float:right;font-family:Open Sans"
      @click.prevent="changePage('Run_Module')"
    >Next Page <i class="el-icon-arrow-right" /> </el-button>
    <template v-if="ProjectStatus.complexity_level === 3">
      <span style="font-weight:bold;float:right;margin-right:20px;font-size:20px;padding-top:6px;font-family:Open Sans"> 5/5 </span>
    </template>
    <template v-else>
      <span style="font-weight:bold;float:right;margin-right:20px;font-size:20px;padding-top:6px;font-family:Open Sans"> 4/4 </span>
    </template>
    <template v-if="GoToRunModule === true">
      <br><br><br>
      <el-button type='info'
              style="float:right;margin-left:25px;font-family:Open Sans"
              @click.prevent="changePage('Run_Module')">Run Module Page <i class="el-icon-arrow-right"></i> </el-button>
    </template>

    <br>
    <br>
    <br>
    <br>
    <img center width="300px" src="@/assets/logos/dtoceanplus_logo.png" alt="Center image" align="right">
    <br>

  </div>
</template>

<script>
import XLSX from 'xlsx'
import { mapState } from 'vuex'
export default {
  data() {
    return {
      message: '',
      Direction: [],
      HS: [],
      TP: [],
      HSDP: [],
      INTHSMin: [],
      INTHSMax: [],
      INTDPMin: [],
      INTDPMax: [],
      ATP: [],
      ATC: [],
      ADC: [],
      AW: [],
      ADW: [],
      DialogVisible: false,
      uploadJExcel: ''
    }
  },
  computed: {
    ...mapState(['Project', 'ProjectStatus', 'GoToRunModule', 'Results', 'Name']),
  },
  beforeMount() {
    this.Direction = this.Project.sk_inputs.uls_analysis_parameters.weather_direction
    this.HS = this.Project.sk_inputs.uls_analysis_parameters.hs_array
    this.TP = this.Project.sk_inputs.uls_analysis_parameters.tp_array
    this.INTHSMin = this.Project.sk_inputs.fls_analysis_parameters.intervals_hs_min
    this.INTHSMax = this.Project.sk_inputs.fls_analysis_parameters.intervals_hs_max
    this.INTDPMin = this.Project.sk_inputs.fls_analysis_parameters.intervals_dp_min
    this.INTDPMax = this.Project.sk_inputs.fls_analysis_parameters.intervals_dp_max
    this.ATP = this.Project.sk_inputs.fls_analysis_parameters.associated_tp
    this.ATC = this.Project.sk_inputs.fls_analysis_parameters.associated_cur
    this.ADC = this.Project.sk_inputs.fls_analysis_parameters.associated_dircur
    this.AW = this.Project.sk_inputs.fls_analysis_parameters.associated_wind
    this.ADW = this.Project.sk_inputs.fls_analysis_parameters.associated_dirwind
    this.HSDP = this.Project.sk_inputs.fls_analysis_parameters.hs_dp_proba
  },
  methods: {
    addNewElement(Variable) {
      Variable.push(0)
    },
    deleteElement(index, Variable) {
      if (index > -1) {
        Variable.splice(index, 1)
      }
    },
    changePage(pagename) {
      this.ProjectStatus.uls_fls_analysis_parameters_page = true
      this.ProjectStatus.entity_status = 50
      this.$router.push({
        name: pagename
      })
    },
    VectorFloat(variable) {
      for (let i = 0; i < variable.length ; i++) {
        variable[i] = parseFloat(variable[i])
      }
      return(variable)
    },
    async uploaderExcel(file) {
      this.uploadJExcel = await this.onloadXlsx(file)
    },
    onloadXlsx(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader()
        reader.readAsBinaryString(file.file)
        reader.onload = (e) => {
          const bstr = e.target.result
          const wb = XLSX.read(bstr, { type: 'binary' })
          const wsname = wb.SheetNames[0]
          const ws = wb.Sheets[wsname]
          const data = XLSX.utils.sheet_to_json(ws)
          resolve(data)
        }
      })
    },
    UpdateTable() {
      this.INTHSMin = []
      this.INTHSMax = []
      this.INTDPMin = []
      this.INTDPMax = []
      this.ATP = []
      this.ATC = []
      this.ADC = []
      this.AW = []
      this.ADW = []
      this.HSDP = []
      for (let i=0; i<this.uploadJExcel.length; i++) {
        this.addNewElement(this.INTHSMin)
        this.INTHSMin[i] = this.uploadJExcel[i]['Hs Min']
        this.addNewElement(this.INTHSMax)
        this.INTHSMax[i] = this.uploadJExcel[i]['Hs Max']
        this.addNewElement(this.INTDPMin)
        this.INTDPMin[i] = this.uploadJExcel[i]['Dp Min']
        this.addNewElement(this.INTDPMax)
        this.INTDPMax[i] = this.uploadJExcel[i]['Dp Max']
        this.addNewElement(this.ATP)
        this.ATP[i] = this.uploadJExcel[i]['Associated Tp']
        this.addNewElement(this.ATC)
        this.ATC[i] = this.uploadJExcel[i]['Current Magnitude']
        this.addNewElement(this.ADC)
        this.ADC[i] = this.uploadJExcel[i]['Current Direction']
        this.addNewElement(this.AW)
        this.AW[i] = this.uploadJExcel[i]['Wind Magnitude']
        this.addNewElement(this.ADW)
        this.ADW[i] = this.uploadJExcel[i]['Wind Direction']
        this.addNewElement(this.HSDP)
        this.HSDP[i] = this.uploadJExcel[i]['Probability']
      }
      this.$refs.upload.clearFiles()
    },
    FillVariables() {
      this.Project.sk_inputs.device_properties.thrust_curve_ct = this.TCCT
      this.Project.sk_inputs.device_properties.thrust_curve_v = this.TCV
    },
    async openSidebar1() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'ULS Analysis Parameters',
        message: '<span>This section gathers the environmental conditions to be used for the ULS analysis. In integrated mode, the data come from the SC module.</span>'+
          '<h3> Weather direction </h3> <span>Weather directions used to check the ULS criteria. Waves, wind and current are colinear for ULS analysis. Weather direction is in [deg] and uses the "going-to convention". 0 deg is towards North, 90deg is towards West.</span>' +
          '<h3> Hs-Tp - 100-years return period </h3> <span>Sea state conditions to consider in the ULS analysis</span>' +
          '<h3> Current velocity - 10 years return period </h3> <span>Current velocity to consider in the ULS analysis</span>'+
          '<h3> Wind velocity - 100 years return period </h3> <span>Wind velocity to consider in the ULS analysis</span>',

        duration: 0,
        position: 'top-right'
      })
    },
    async openSidebar2() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'FLS Analysis Parameters',
        message: '<h3> FLS Analysis Parameters </h3> <span>This table describes the probability of environments occurence regarding intervals. This table can be filled by loading an Excel file. The format of this file is described in the documentation of the module at the following link : <a href="http://127.0.0.1:5000/static/docs/_build/html/how_to/Excel-files.html#fls-analysis-parameters-file" target="_blank" style="cursor:pointer; font-size:15px; color:blue">How-to Guide</a>. In integrated mode, the table is filled automatically with the data from the SC module.</span>',

        duration: 0,
        position: 'top-right'
      })
    }
  }
}
</script>

<style lang="scss">

.h2_section {
  cursor: pointer;
  user-select: none;
  font-size: 25px;
  font-family: "Rajdhani";
}

table {
  border-collapse: collapse;
  border: 1px solid #444444;
  border-radius: 3px;
  background-color: #fff;
}

td {
  background-color: #f9f9f9;
}

th, td {
  min-width: 120px;
  padding: 10px 10px;
  border: 1px solid #a9a3a3;
  text-align: center;
}

th.active {
  color: #0400ff;
}

th.active .arrow {
  opacity: 1;
}

.table_scroll {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  border: 1.5px solid #444444;
  border-collapse: collapse;
  overflow: hidden;
}

/* Scroll the actual tbody (second child on all browsers) */
.tbody_scroll {
  display: block;
  overflow: scroll;
}

body { min-width: 1300px; }

span { font-family: "Open Sans" }

h3 { font-family: "Rajdhani"}

</style>
