<!--
This is the Station Keeping module of the DTOceanPlus suite
Copyright (C) 2021 France Energies Marines - Neil Luxcey, Nicolas Michelet, Rocio Isorna

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
    <ul>
      <el-row>
        <el-col :lg="5" style="margin-left:80px">
          <el-button
            type="info"
            style="font-size:15px"
            @click.prevent="GoToBOM()"
          >
            <el-row>
              <img src="@/assets/logos/BOM.png" width="25" height="30" align="left">
              <ul>
                <span> Bill of <br> Materials </span>
              </ul>
            </el-row>
          </el-button>
        </el-col>
        <el-col :lg="5" style="margin-right:35px">
          <el-button
            type="info"
            style="font-size:15px"
            disabled
          >
            <el-row>
              <img src="@/assets/logos/green.png" width="35" height="30" align="left">
              <ul>
                <span> Environmental <br> Impact </span>
              </ul>
            </el-row>
          </el-button>
        </el-col>
        <el-col :lg="5" style="margin-right:20px">
          <el-button
            type="info"
            style="font-size:15px"
            @click.prevent="GoToDA()"
          >
            <el-row>
              <img src="@/assets/logos/design_assessment.png" width="30" height="28" align="left">
              <ul>
                <span> Design <br> Assessment </span>
              </ul>
            </el-row>
          </el-button>
        </el-col>
        <el-col :lg="5" style="margin-right:10px">
          <el-button
            type="info"
            style="font-size:15px"
            @click.prevent="GoToUF()"
          >
            <el-row>
              <img src="@/assets/logos/ULS_FLS.png" width="30" height="28" align="left">
              <ul style="padding-top:5px">
                <span> ULS / FLS </span>
              </ul>
            </el-row>
          </el-button>
        </el-col>
      </el-row>
    </ul>

    <br>
    <br>
    <img src="@/assets/logos/green.png" alt="end spe" width="110" height="100" align="left">
    <tr>
      <td class="form_lines" style="width:20%; text-align:left">
        <h1 class="my_h1"> Environmental Impact </h1>
      </td>
      <td class="form_lines" style="width:30%; text-align:right">
        <template v-if="Name === 'none' || Name.length == 0">
          <h2 class="h2_section"> Name of the Project : <span style="color:#16a085">Not defined</span></h2>
        </template>
        <template v-else>
          <h2 class="h2_section"> Name of the Project : <span style="color:#16a085">{{ Name }}</span></h2>
        </template>
      </td>
    </tr>
    <br>

    <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar" > Section Help </span>
    <br><br>
    <template v-if="Results === false">
      <span style="font-weight:bold"> No results available for this project </span>
    </template>

    <template v-else-if="Results === 'running'">
      <span style="font-weight:bold"> The calculation is in progress </span>
    </template>

    <template v-else>

      <h2 class="h2_section">
        Farm Impact
      </h2>

      <ul>
        <ul>
          <table style="border:none;width:900px">
            <tr>
              <td class="form_lines" style="width:200px">
                <span style="font-weight:bold;text-align:center;font-size:15px">Submerged <br>surface :</span>
              </td>
              <td class="form_lines" style="width:200px">
                <span style="font-size:20px;font-weight:bold">{{ Math.round(Results.environmental_impact.farm.submerged_surface) }} m²</span>
              </td>
              <td class="form_lines" style="width:200px">
                <span style="font-weight:bold;text-align:center;font-size:15px"> Footprint :</span>
              </td>
              <td class="form_lines" style="width:200px">
                <span style="font-size:20px;font-weight:bold">{{ Math.round(Results.environmental_impact.farm.footprint) }} m²</span>
              </td>
            </tr>
          </table>
        </ul>
      </ul>

      <ul>
        <h3 style="color:#16a085">
          Material quatity list
        </h3>
      </ul>

      <ul>
        <ul>
          <table>
            <tr>
              <td style="font-weight:bold;font-family:Open Sans">Name</td>
              <td style="font-weight:bold;font-family:Open Sans">Quantity [kg]</td>
            </tr>
            <tr v-for="(item, index) in Results.environmental_impact.farm.material_quantity_list" :key="(item, index)">
              <td>{{ Results.environmental_impact.farm.material_quantity_list[index].material_name }}</td>
              <td>{{ Math.round(Results.environmental_impact.farm.material_quantity_list[index].material_quantity) }}</td>
            </tr>
          </table>
        </ul>
      </ul>
      <br>
      <hr>
      <h2 class="h2_section">
        Device Impact
      </h2>

      <div v-for="(item, index) in Results.design_assessment.devices" :key="(item, index)">

        <span style="font-weight:bold;font-size:20px"> Device n°{{ index+1 }}</span>

        <ul>
          <ul>
            <table style="border:none;width:900px">
              <tr>
                <td class="form_lines" style="width:200px">
                  <span style="font-weight:bold;text-align:center;font-size:15px">Submerged <br>surface :</span>
                </td>
                <td class="form_lines" style="width:200px">
                  <span style="font-size:20px;font-weight:bold">{{ Math.round(Results.environmental_impact.devices[index].submerged_surface) }} m²</span>
                </td>
                <td class="form_lines" style="width:200px">
                  <span style="font-weight:bold;text-align:center;font-size:15px"> Footprint :</span>
                </td>
                <td class="form_lines" style="width:200px">
                  <span style="font-size:20px;font-weight:bold">{{ Math.round(Results.environmental_impact.devices[index].footprint) }} m²</span>
                </td>
              </tr>
            </table>
          </ul>
        </ul>

        <ul>
          <h3 style="color:#16a085">
            Material quatity list
          </h3>
        </ul>

        <ul>
          <ul>
            <table>
              <tr>
                <td style="font-weight:bold;font-family:Open Sans">Name</td>
                <td style="font-weight:bold;font-family:Open Sans">Quantity [kg]</td>
              </tr>
              <tr v-for="(item2, index2) in Results.environmental_impact.devices[index].material_quantity_list" :key="(item2, index2)">
                <td>{{ Results.environmental_impact.devices[index].material_quantity_list[index2].material_name }}</td>
                <td>{{ Math.round(Results.environmental_impact.devices[index].material_quantity_list[index2].material_quantity) }}</td>
              </tr>
            </table>
          </ul>
        </ul>
        <br>
        <hr>
        <br>
      </div>

      <template v-if="is_masterstructure === true && is_substation === true">

        <span style="font-weight:bold;font-size:20px;font-style:italic"> Master Structure</span>
        <ul>
          <ul>
            <table style="border:none;width:900px">
              <tr>
                <td class="form_lines" style="width:200px">
                  <span style="font-weight:bold;text-align:center;font-size:15px">Submerged <br>surface :</span>
                </td>
                <td class="form_lines" style="width:200px">
                  <span style="font-size:20px;font-weight:bold">{{ Math.round(Results.environmental_impact.devices[nbr_device+Results.design_assessment.substation.length].submerged_surface) }} m²</span>
                </td>
                <td class="form_lines" style="width:200px">
                  <span style="font-weight:bold;text-align:center;font-size:15px"> Footprint :</span>
                </td>
                <td class="form_lines" style="width:200px">
                  <span style="font-size:20px;font-weight:bold">{{ Math.round(Results.environmental_impact.devices[nbr_device+Results.design_assessment.substation.length].footprint) }} m²</span>
                </td>
              </tr>
            </table>
          </ul>
        </ul>

        <ul>
          <h3 style="color:#16a085">
            Material quatity list
          </h3>
        </ul>

        <ul>
          <ul>
            <table>
              <tr>
                <td style="font-weight:bold;font-family:Open Sans">Name</td>
                <td style="font-weight:bold;font-family:Open Sans">Quantity [kg]</td>
              </tr>
              <tr v-for="(item2, index2) in Results.environmental_impact.devices[nbr_device+Results.design_assessment.substation.length].material_quantity_list" :key="(item2, index2)">
                <td>{{ Results.environmental_impact.devices[nbr_device+Results.design_assessment.substation.length].material_quantity_list[index2].material_name }}</td>
                <td>{{ Math.round(Results.environmental_impact.devices[nbr_device+Results.design_assessment.substation.length].material_quantity_list[index2].material_quantity) }}</td>
              </tr>
            </table>
          </ul>
        </ul>
        <br>
        <hr>
        <br>

        <div v-for="(item, index) in (Results.design_assessment.substation)" :key="(item, index)">

          <span style="font-weight:bold;font-size:20px"> Substation {{ index+1 }}</span>

          <ul>
            <ul>
              <table style="border:none;width:900px">
                <tr>
                  <td class="form_lines" style="width:200px">
                    <span style="font-weight:bold;text-align:center;font-size:15px">Submerged <br>surface :</span>
                  </td>
                  <td class="form_lines" style="width:200px">
                    <span style="font-size:20px;font-weight:bold">{{ Math.round(Results.environmental_impact.devices[index + nbr_device].submerged_surface) }} m²</span>
                  </td>
                  <td class="form_lines" style="width:200px">
                    <span style="font-weight:bold;text-align:center;font-size:15px"> Footprint :</span>
                  </td>
                  <td class="form_lines" style="width:200px">
                    <span style="font-size:20px;font-weight:bold">{{ Math.round(Results.environmental_impact.devices[index + nbr_device].footprint) }} m²</span>
                  </td>
                </tr>
              </table>
            </ul>
          </ul>

          <ul>
            <h3 style="color:#16a085">
              Material quatity list
            </h3>
          </ul>

          <ul>
            <ul>
              <table>
                <tr>
                  <td style="font-weight:bold;font-family:Open Sans">Name</td>
                  <td style="font-weight:bold;font-family:Open Sans">Quantity [kg]</td>
                </tr>
                <tr v-for="(item2, index2) in Results.environmental_impact.devices[index + nbr_device].material_quantity_list" :key="(item2, index2)">
                  <td>{{ Results.environmental_impact.devices[index + nbr_device].material_quantity_list[index2].material_name }}</td>
                  <td>{{ Math.round(Results.environmental_impact.devices[index + nbr_device].material_quantity_list[index2].material_quantity) }}</td>
                </tr>
              </table>
            </ul>
          </ul>
        </div>
        <br>
        <hr>
        <br>
      </template>

      <template v-else-if="is_masterstructure === true || is_substation === true">

        <template v-if="is_masterstructure === true">
          <span style="font-weight:bold;font-size:20px"> Master Structure</span>

          <ul>
            <ul>
              <table style="border:none;width:900px">
                <tr>
                  <td class="form_lines" style="width:200px">
                    <span style="font-weight:bold;text-align:center;font-size:15px">Submerged <br>surface :</span>
                  </td>
                  <td class="form_lines" style="width:200px">
                    <span style="font-size:20px;font-weight:bold">{{ Math.round(Results.environmental_impact.devices[nbr_device].submerged_surface) }} m²</span>
                  </td>
                  <td class="form_lines" style="width:200px">
                    <span style="font-weight:bold;text-align:center;font-size:15px"> Footprint :</span>
                  </td>
                  <td class="form_lines" style="width:200px">
                    <span style="font-size:20px;font-weight:bold">{{ Math.round(Results.environmental_impact.devices[nbr_device].footprint) }} m²</span>
                  </td>
                </tr>
              </table>
            </ul>
          </ul>

          <ul>
            <h3 style="color:#16a085">
              Material quatity list
            </h3>
          </ul>

          <ul>
            <ul>
              <table>
                <tr>
                  <td style="font-weight:bold;font-family:Open Sans">Name</td>
                  <td style="font-weight:bold;font-family:Open Sans">Quantity [kg]</td>
                </tr>
                <tr v-for="(item2, index2) in Results.environmental_impact.devices[nbr_device].material_quantity_list" :key="(item2, index2)">
                  <td>{{ Results.environmental_impact.devices[nbr_device].material_quantity_list[index2].material_name }}</td>
                  <td>{{ Math.round(Results.environmental_impact.devices[nbr_device].material_quantity_list[index2].material_quantity) }}</td>
                </tr>
              </table>
            </ul>
          </ul>
        </template>
        <template v-else-if="is_substation === true">
          <span style="font-weight:bold;font-size:20px"> Substation</span>

          <div v-for="(item, index) in (Results.design_assessment.substation)" :key="(item, index)">

            <ul>
              <ul>
                <table style="border:none;width:900px">
                  <tr>
                    <td class="form_lines" style="width:200px">
                      <span style="font-weight:bold;text-align:center;font-size:15px">Submerged <br>surface :</span>
                    </td>
                    <td class="form_lines" style="width:200px">
                      <span style="font-size:20px;font-weight:bold">{{ Math.round(Results.environmental_impact.devices[nbr_device+index].submerged_surface) }} m²</span>
                    </td>
                    <td class="form_lines" style="width:200px">
                      <span style="font-weight:bold;text-align:center;font-size:15px"> Footprint :</span>
                    </td>
                    <td class="form_lines" style="width:200px">
                      <span style="font-size:20px;font-weight:bold">{{ Math.round(Results.environmental_impact.devices[nbr_device+index].footprint) }} m²</span>
                    </td>
                  </tr>
                </table>
              </ul>
            </ul>

            <ul>
              <h3 style="color:#16a085">
                Material quatity list
              </h3>
            </ul>

            <ul>
              <ul>
                <table>
                  <tr>
                    <td style="font-weight:bold;font-family:Open Sans">Name</td>
                    <td style="font-weight:bold;font-family:Open Sans">Quantity [kg]</td>
                  </tr>
                  <tr v-for="(item2, index2) in Results.environmental_impact.devices[nbr_device+index].material_quantity_list" :key="(item2, index2)">
                    <td>{{ Results.environmental_impact.devices[nbr_device+index].material_quantity_list[index2].material_name }}</td>
                    <td>{{ Math.round(Results.environmental_impact.devices[nbr_device+index].material_quantity_list[index2].material_quantity) }}</td>
                  </tr>
                </table>
              </ul>
            </ul>
          </div>
        </template>

        <br>
        <hr>
        <br>
      </template>
    </template>

    <br>
    <br>
    <br>
    <img center width="300px" src="@/assets/logos/dtoceanplus_logo.png" alt="Center image" align="right">
    <br>

  </div>
</template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'
export default {
  data() {
    return {
      activeNames: [],
      total_cost: 0,
      is_masterstructure: false,
      is_substation: false,
      nbr_device: 0
    }
  },
  computed: {
    ...mapState(['Project', 'ProjectStatus', 'Results', 'Name'])
  },
  beforeMount() {
    this.InitialiseLocalVariables()
  },
  methods: {
    InitialiseLocalVariables() {
      if (this.Results.design_assessment.master_structure.design_results.anchor_and_foundation.foundation_type === '') {
        this.is_masterstructure = false
      } else {
        this.is_masterstructure = true
      }
      if (this.Results.design_assessment.substation.length == 0) {
        this.is_substation = false
      } else {
        this.is_substation = true
      }
      this.nbr_device = this.Results.design_assessment.devices.length
    },
    GoToBOM() {
      this.$router.push({ name: 'BOM' })
    },
    GoToDA() {
      this.$router.push({ name: 'Design_Assessment' })
    },
    GoToUF() {
      this.$router.push({ name: 'ULS_FLS' })
    },
    Total_Result_Calculation() {
      var bill = 0
      for (var i in this.Results.bom.total_cost) {
        bill += (this.Results.bom.total_cost[i])
      }
      return bill
    },
    async openSidebar() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Environmental Impact',
        message: '<span> This section summarizes the environmental impact results of the Station Keeping components. </span>',

        duration: 0,
        position: 'top-right'
      })
    }
  }
}
</script>

<style lang="scss">

  .h2_section {
    user-select: none;
    font-size: 25px;
    font-family: "Rajdhani";
  }

  table {
    border-collapse: collapse;
    border: 1.5px solid #444444;
    border-radius: 3px;
    background-color: #fff;
  }

  td {
    background-color: #f9f9f9;
  }

  th, td {
    min-width: 120px;
    padding: 10px 10px;
    border: 1.5px solid #444444;
    text-align: center;
  }

    th.active {
      color: #0400ff;
    }

      th.active .arrow {
        opacity: 1;
      }

body { min-width: 1300px; }

span { font-family: "Open Sans" }

h3 { font-family: "Rajdhani"}
</style>
