<!--
This is the Station Keeping module of the DTOceanPlus suite
Copyright (C) 2021 France Energies Marines - Neil Luxcey, Nicolas Michelet, Rocio Isorna

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">
      <template v-if="Results == 'running'">
        <el-alert
          type="warning"
          title="Warning !"
          description="No changes will be taken into account for the current calculation."
          :closable="false"
          show-icon
        />
      </template>
      <br>

    <img src="@/assets/logos/Masterstructure_logo.png" alt="end spe" width="110" height="50" align="left" style="margin-right:15px;margin-top:20px">
    <tr>
      <td class="form_lines" style="width:20%; text-align:left">
        <h1 class="my_h1"> Master Structure Properties </h1>
      </td>
      <td class="form_lines" style="width:30%; text-align:right">
        <template v-if="Name === 'none' || Name.length == 0">
          <h2 class="h2_section"> Name of the Project : <span style="color:#16a085">Not defined</span></h2>
        </template>
        <template v-else>
          <h2 class="h2_section"> Name of the Project : <span style="color:#16a085">{{ Name }}</span></h2>
        </template>
      </td>
    </tr>
    <br>

    <template v-if="ProjectStatus.complexity_level != 3">
      <span style="font-weight:bold;font-size:25px"> To include a masterstructure, the projet complexity level must be 3 </span>
    </template>

    <template v-else-if="Project.sk_inputs.device_properties.positioning_reference === 'seabed'">
      <span style="font-weight:bold;font-size:25px"> Masterstructure not present </span>
    </template>

    <template v-else>
      <el-collapse v-model="activeNames">
        <el-collapse-item name="1">
          <template slot="title">
            <h2 class="h2_section">
              Main Characteristics
            </h2>
          </template>

          <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar1" > Section Help </span>

          <ul>
            <table style="border:none;width:1000px">
              <tr>
                <td class="form_lines" style="width:190px">
                  <span style="font-weight:bold;font-size:15px"> Master Structure <br> north position : </span>
                </td>
                <td class="form_lines" style="width:209px">
                  <el-input-number v-model="Project.sk_inputs.master_structure_properties.north" style="width:150px" :controls="false" type="number" />
                </td>
                <td class="form_lines" style="width:60px">
                  <span>[m]</span>
                </td>
                <td class="form_lines" style="width:160px">
                  <span style="font-weight:bold;font-size:15px"> Master Structure <br> east position : </span>
                </td>
                <td class="form_lines" style="width:209px">
                  <el-input-number v-model="Project.sk_inputs.master_structure_properties.east" style="width:150px" :controls="false" type="number" />
                </td>
                <td class="form_lines">
                  <span>[m]</span>
                </td>
              </tr>
              <tr>
                <td class="form_lines">
                  <span style="font-weight:bold;font-size:15px"> Water depth <br> at master <br> structure location : </span>
                </td>
                <td class="form_lines">
                  <el-input-number v-model="Project.sk_inputs.master_structure_properties.water_depth" style="width:150px" :controls="false" type="number" />
                </td>
                <td class="form_lines">
                  <span>[m]</span>
                </td>
              </tr>
            </table>
          </ul>

        </el-collapse-item>
        <hr>

        <el-collapse-item name="2">
          <template slot="title">
            <h2 class="h2_section">
              Positionning type
            </h2>
          </template>

          <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar2" > Section Help </span>

          <ul>
            <table style="border:none;width:1000px">
              <tr>
                <td class="form_lines" style="width:185px">
                  <span style="font-style:italic;font-weight:bold;font-size:15px"> Positioning type : </span>
                </td>
                <td class="form_lines">
                  <el-radio-group v-model="Project.sk_inputs.master_structure_properties.positioning_type">
                    <el-radio label="moored"> Moored </el-radio>
                    <el-radio label="fixed"> Fixed </el-radio>
                  </el-radio-group>
                </td>
              </tr>
            </table>
          </ul>

        </el-collapse-item>
        <hr>

        <template v-if="Project.sk_inputs.master_structure_properties.positioning_type == 'moored'">
          <el-collapse-item name="3">
            <template slot="title">
              <h2 class="h2_section">
                Mooring System
              </h2>
            </template>

            <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar3" > Section Help </span>

            <ul>

              <el-dialog title="Load Mooring System" :visible.sync="dialogFormVisible" style="text-align:center">
                <span>
                  <el-upload ref="upload"
                              class="upload-demo"
                              accept=".json"
                              style="text-align:center"
                              drag
                              :auto-upload="true"
                              :http-request="uploaderMooringSystem"
                              :limit="1"
                              data-cy="uploadBox"
                              :show-file-list="false">
                    <i class="el-icon-upload" />
                    <div class="el-upload__text">Drop file here or <em>click to upload</em></div>
                    <template v-if="display_message === true">
                      <div slot="tip" class="el-upload__tip">The selected file is not a mooring system</div>
                    </template>
                    <template v-if="display_message === false">
                      <div slot="tip" class="el-upload__tip">Selected mooring system : {{ uploadJson.name }}</div>
                    </template>
                  </el-upload>
                </span>
                <span slot="footer" class="dialog-footer">
                  <el-button @click.prevent="dialogFormVisible = false;display_message === false">Cancel</el-button>
                  <template v-if="display_message === true">
                    <el-button type="success" @click.prevent="dialogFormVisible = false" disabled>Confirm</el-button>
                  </template>
                  <template v-if="display_message === false">
                    <el-button type="success" @click.prevent="dialogFormVisible = false;PrepareMooringSystemDialog(true);is_loadjson_wdh = true;is_loadjson_wdy = true;is_loadjson_p = true" style="font-family:Open Sans">Confirm</el-button>
                  </template>
                </span>
              </el-dialog>

              <div class="v-cloak">
                {{ LineTypeData = Project.sk_inputs.master_structure_properties.custom_mooring_input.line_dictionnary }}
              </div>

              <template v-if="Project.sk_inputs.master_structure_properties.mooring_input_flag === 'input_file'">
                <el-input v-model="Project.sk_inputs.master_structure_properties.file_mooring_input" type="text" style="width: 200px" />
              </template>
              <br>
              <el-button type="info" @click="dialogFormVisible = true" style="font-family:Open Sans"> Load Mooring System </el-button>

              <h3> Line type data </h3>
              <el-button type="info"
                          @click.prevent="addNewRow1"
                          style="font-family:Open Sans">
                Add Line Type
              </el-button>
              <br>
              <br>
              <div>
                <table class="table_scroll" style="border:none">
                  <tbody class="tbody_scroll">
                    <tr>
                      <td style="background-color: #FFFFFF;border-left-style:hidden;border-top-style:hidden" />
                      <td style="font-weight:bold;font-size:15px;font-family:Open Sans"> Type name </td>
                      <td style="font-weight:bold;font-size:15px;font-family:Open Sans"> Catalogue Id </td>
                      <td style="font-weight:bold;font-size:15px;font-family:Open Sans"> Material </td>
                      <td style="font-weight:bold;font-size:15px;font-family:Open Sans"> Type </td>
                      <td style="font-weight:bold;font-size:15px;font-family:Open Sans"> Quality </td>
                      <td style="font-weight:bold;font-size:15px;font-family:Open Sans"> Diameter </td>
                      <td style="font-weight:bold;font-size:15px;font-family:Open Sans"> Diameter FLS </td>
                      <td style="font-weight:bold;font-size:15px;font-family:Open Sans"> Weight in air </td>
                      <td style="font-weight:bold;font-size:15px;font-family:Open Sans"> Weight in water </td>
                      <td style="font-weight:bold;font-size:15px;font-family:Open Sans"> ea </td>
                      <td style="font-weight:bold;font-size:15px;font-family:Open Sans"> cb </td>
                      <td style="font-weight:bold;font-size:15px;font-family:Open Sans"> mbl </td>
                      <td style="font-weight:bold;font-size:15px;font-family:Open Sans"> mbl ULS </td>
                      <td style="font-weight:bold;font-size:15px;font-family:Open Sans"> Cost per meter </td>
                      <td style="font-weight:bold;font-size:15px;font-family:Open Sans"> ad </td>
                      <td style="font-weight:bold;font-size:15px;font-family:Open Sans"> m </td>
                      <td style="font-weight:bold;font-size:15px;font-family:Open Sans"> Failure rate repair </td>
                      <td style="font-weight:bold;font-size:15px;font-family:Open Sans"> Failure rate replacement </td>
                    </tr>
                    <tr v-for="(linetypedata, k) in LineTypeData" :key="k">
                      <td scope="row">
                        <el-button icon="el-icon-delete"
                                    type="danger"
                                    @click.prevent="deleteRow(k, linetypedata, LineTypeData, 1)" />
                      </td>

                      <td>
                        <div class="v-cloak">
                          {{ linetypedata.line_type_name = 'Line_Type' + parseInt(k+1) }}
                        </div>
                        <el-input v-model="linetypedata.line_type_name" type="text" style="width:150px" disabled />
                      </td>

                      <td>
                        <el-select v-model="linetypedata.catalogue_id" @change="ExtractLineIndex(k)">
                          <el-option value="None" style="font-size:15px"> None </el-option>
                              <el-option v-for="item in Project.catalogue_lines.catalogue_id" :key="item" :value="item" style="font-size:15px">{{ item }}</el-option>
                        </el-select>
                      </td>

                      <td>
                        <template v-if="linetypedata.catalogue_id ==='None'">
                          <el-input v-model="linetypedata.material" type="text" style="width:90px" />
                        </template>
                        <template v-else>
                          <el-input v-model="linetypedata.material" type="text" style="width:90px" disabled />
                        </template>
                      </td>

                      <td>
                        <template v-if="linetypedata.catalogue_id ==='None'">
                          <el-input v-model="linetypedata.type" type="text" style="width:70px" />
                        </template>
                        <template v-else>
                          <el-input v-model="linetypedata.type" type="text" style="width:70px" disabled />
                        </template>
                      </td>

                      <td>
                        <template v-if="linetypedata.catalogue_id ==='None'">
                          <el-input v-model="linetypedata.quality" type="text" style="width:90px" />
                        </template>
                        <template v-else>
                          <el-input v-model="linetypedata.quality" type="text" style="width:90px" disabled />
                        </template>
                      </td>

                      <td>
                        <template v-if="linetypedata.catalogue_id ==='None'">
                          <el-input-number v-model="linetypedata.diameter" style="width:90px" :controls="false" type="number" />
                        </template>
                        <template v-else>
                          <el-input-number v-model="linetypedata.diameter" style="width:90px" disabled :controls="false" type="number" />
                        </template>
                      </td>

                      <td>
                        <el-input-number v-model="linetypedata.diameter_fls" style="width:90px" :controls="false" type="number" />
                      </td>

                      <td>
                        <template v-if="linetypedata.catalogue_id ==='None'">
                          <el-input-number v-model="linetypedata.weight_in_air" style="width:100px" :controls="false" type="number" />
                        </template>
                        <template v-else>
                          <el-input-number v-model="linetypedata.weight_in_air" style="width:100px" disabled :controls="false" type="number" />
                        </template>
                      </td>

                      <td>
                        <template v-if="linetypedata.catalogue_id ==='None'">
                          <el-input-number v-model="linetypedata.weight_in_water" style="width:190px" :controls="false" type="number" />
                        </template>
                        <template v-else>
                          <el-input-number v-model="linetypedata.weight_in_water" style="width:190px" disabled :controls="false" type="number" />
                        </template>
                      </td>

                      <td>
                        <template v-if="linetypedata.catalogue_id ==='None'">
                          <el-input-number v-model="linetypedata.ea" style="width:200px" :controls="false" type="number" />
                        </template>
                        <template v-else>
                          <el-input-number v-model="linetypedata.ea" style="width:200px" disabled :controls="false" type="number" />
                        </template>
                      </td>

                      <td>
                        <el-input-number v-model="linetypedata.cb" style="width:90px" :controls="false" type="number" />
                      </td>

                      <td>
                        <template v-if="linetypedata.catalogue_id ==='None'">
                          <el-input-number v-model="linetypedata.mbl" style="width:110px" :controls="false" type="number" />
                        </template>
                        <template v-else>
                          <el-input-number v-model="linetypedata.mbl" style="width:110px" disabled :controls="false" type="number" />
                        </template>
                      </td>

                      <td>
                        <el-input-number v-model="linetypedata.mbl_uls" style="width:110px" :controls="false" type="number" />
                      </td>

                      <td>
                        <template v-if="linetypedata.catalogue_id ==='None'">
                          <el-input-number v-model="linetypedata.cost_per_meter" style="width:90px" :controls="false" type="number" />
                        </template>
                        <template v-else>
                          <el-input-number v-model="linetypedata.cost_per_meter" style="width:90px" disabled :controls="false" type="number" />
                        </template>
                      </td>

                      <td>
                        <template v-if="linetypedata.catalogue_id ==='None'">
                          <el-input-number v-model="linetypedata.ad" style="width:150px" :controls="false" type="number" />
                        </template>
                        <template v-else>
                          <el-input-number v-model="linetypedata.ad" style="width:150px" disabled :controls="false" type="number" />
                        </template>
                      </td>

                      <td>
                        <template v-if="linetypedata.catalogue_id ==='None'">
                          <el-input-number v-model="linetypedata.m" style="width:90px" :controls="false" type="number" />
                        </template>
                        <template v-else>
                          <el-input-number v-model="linetypedata.m" style="width:90px" disabled :controls="false" type="number" />
                        </template>
                      </td>

                      <td>
                        <template v-if="linetypedata.catalogue_id ==='None'">
                          <el-input-number v-model="linetypedata.failure_rate_repair" style="width:90px" :controls="false" type="number" />
                        </template>
                        <template v-else>
                          <el-input-number v-model="linetypedata.failure_rate_repair" style="width:90px" disabled :controls="false" type="number" />
                        </template>
                      </td>

                      <td>
                        <template v-if="linetypedata.catalogue_id ==='None'">
                          <el-input-number v-model="linetypedata.failure_rate_replacement" style="width:90px" :controls="false" type="number" />
                        </template>
                        <template v-else>
                          <el-input-number v-model="linetypedata.failure_rate_replacement" style="width:90px" disabled :controls="false" type="number" />
                        </template>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="v-cloak">
                {{ Project.sk_inputs.master_structure_properties.custom_mooring_input.line_dictionnary = LineTypeData }}
              </div>

              <div class="v-cloak">
                {{ NodeData = Project.sk_inputs.master_structure_properties.custom_mooring_input.node_properties }}
              </div>

              <h3> Node data </h3>
              <el-button type="info"
                          @click.prevent="addNewRow2">
                Add Node
              </el-button>
              <br>
              <br>

              <div>
                <table style="border:none">
                  <tbody>
                    <tr>
                      <td style="background-color: #FFFFFF;border-left-style:hidden;border-top-style:hidden" />
                      <td style="font-weight:bold;font-size:15px;font-family:Open Sans"> Node Number </td>
                      <td style="font-weight:bold;font-size:15px;width:150px;font-family:Open Sans"> Node Type </td>
                      <td style="width:150pxfont-weight:bold;font-size:15px;font-family:Open Sans"> Position </td>
                      <td style="font-weight:bold;font-size:15px;font-family:Open Sans"> Point Mass </td>
                      <td style="font-weight:bold;font-size:15px;font-family:Open Sans"> Point Volume </td>
                      <td style="font-weight:bold;font-size:15px;font-family:Open Sans"> Force </td>
                      <td style="font-weight:bold;font-size:15px;font-family:Open Sans"> Anchor Required </td>
                    </tr>
                    <tr v-for="(nodedata, k) in NodeData" :key="k">
                      <td scope="row">
                        <el-button icon="el-icon-delete"
                                    type="danger"
                                    @click.prevent="deleteRow(k, nodedata, NodeData, 0)" />
                      </td>

                      <td>
                        <div class="v-cloak">
                          {{ nodedata.node_number = k+1 }}
                        </div>
                        <el-input-number v-model="nodedata.node_number" style="width:90px" disabled :controls="false" type="number" />
                        <div class="v-cloak">
                          {{ NodeNumbers[k] = nodedata.node_number }}
                        </div>
                      </td>

                      <td style="text-align:left">
                        <el-radio-group v-model="nodedata.type">
                          <el-radio label="Fix"> Fix </el-radio>
                          <el-radio label="Connect"> Connect </el-radio>
                          <el-radio label="Vessel"> Vessel </el-radio>
                        </el-radio-group>
                      </td>

                      <td>
                        <template v-if="nodedata.type === 'Fix' || nodedata.type === 'Connect'">
                          <span> Global Coordinate </span>
                          <br><br>
                          x :
                          <el-input-number v-model="nodedata.position[0]" style="width:90px" :controls="false" type="number" />
                          <br>
                          y :
                          <el-input-number v-model="nodedata.position[1]" style="width:90px" :controls="false" type="number" />
                          <br>
                          z :
                          <el-input-number v-model="nodedata.position[2]" style="width:90px" :controls="false" type="number" />
                        </template>
                        <template v-if="nodedata.type === 'Vessel'">
                          <span> Local Coordinate </span>
                          <br><br>
                          x :
                          <el-input-number v-model="nodedata.position[0]" style="width:90px" :controls="false" type="number" />
                          <br>
                          y :
                          <el-input-number v-model="nodedata.position[1]" style="width:90px" :controls="false" type="number" />
                          <br>
                          z :
                          <el-input-number v-model="nodedata.position[2]" style="width:90px" :controls="false" type="number" />
                        </template>
                        <template v-if="nodedata.type === ''">
                          No node type selected
                        </template>
                      </td>

                      <td>
                        <el-input-number v-model="nodedata.point_mass" style="width:90px" :controls="false" type="number" />
                      </td>

                      <td>
                        <el-input-number v-model="nodedata.point_volume" style="width:90px" :controls="false" type="number" />
                      </td>

                      <td>
                        <form method="post">
                          Fx : <el-input-number v-model="nodedata.force[0]" style="width:90px" :controls="false" type="number" />
                          <br>
                          Fy : <el-input-number v-model="nodedata.force[1]" style="width:90px" :controls="false" type="number" />
                          <br>
                          Fz : <el-input-number v-model="nodedata.force[2]" style="width:90px" :controls="false" type="number" />
                        </form>
                      </td>

                      <td style="text-align:left">
                        <el-switch
                          v-model="nodedata.anchor_required"
                          active-text="Yes"
                          inactive-text="No">
                        </el-switch>
                      </td>

                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="v-cloak">
                {{ Project.sk_inputs.master_structure_properties.custom_mooring_input.node_properties = NodeData }}
              </div>

              <div class="v-cloak">
                {{ LineData = Project.sk_inputs.master_structure_properties.custom_mooring_input.line_properties }}
              </div>

              <h3> Line data </h3>
              <el-button type="info"
                          @click.prevent="addNewRow3"
                          style="font-family:Open Sans">
                Add Line
              </el-button>
              <br>
              <br>

              <div>
                <table style="border:none">
                  <tbody>
                    <tr>
                      <td style="background-color: #FFFFFF;border-left-style:hidden;border-top-style:hidden" />
                      <td style="font-weight:bold;font-size:15px;font-family:Open Sans"> Line Number </td>
                      <td style="font-weight:bold;font-size:15px;font-family:Open Sans"> Line Name </td>
                      <td style="font-weight:bold;font-size:15px;font-family:Open Sans"> Line Type Name </td>
                      <td class="v-cloak" style="font-weight:bold;font-size:15px"> Line Type index </td>
                      <td style="font-weight:bold;font-size:15px;font-family:Open Sans"> Unstretched Length </td>
                      <td style="font-weight:bold;font-size:15px;font-family:Open Sans"> Anchor Node Number </td>
                      <td style="font-weight:bold;font-size:15px;font-family:Open Sans"> Fairlead Node Number </td>
                      <td style="font-weight:bold;font-size:15px;font-family:Open Sans"> Flags </td>
                    </tr>
                    <tr v-for="(linedata, k) in LineData" :key="k">
                      <td scope="row">
                        <el-button icon="el-icon-delete"
                                    type="danger"
                                    @click.prevent="deleteRow(k, linedata, LineData, 0)" />
                      </td>

                      <td>
                        <div class="v-cloak">
                          {{ linedata.line_number = k+1 }}
                        </div>
                        <el-input-number v-model="linedata.line_number" style="width:90px" disabled :controls="false" type="number" />
                      </td>

                      <td>
                        <div class="v-cloak">
                          {{ linedata.name = 'Line' + parseInt(k+1) }}
                        </div>
                        <el-input v-model="linedata.name" type="text" style="width:150px" disabled />
                      </td>

                      <td>
                        <el-select v-model="linedata.line_type_name">
                          <el-option v-for="item in LineTypeData" :key="item" :value="item.line_type_name" style="font-size:15px">{{ item.line_type_name }}</el-option>
                        </el-select>
                      </td>

                      <td class="v-cloak">
                        <template v-if="linedata.line_type_name.length === 5">
                          <div class="v-cloak">
                            {{ linedata.line_type_index = parseInt(linedata.line_type_name.substr(4,5))-1 }}
                          </div>
                        </template>
                        <template v-if="linedata.line_type_name.length === 6">
                          <div class="v-cloak">
                            {{ linedata.line_type_index = parseInt(linedata.line_type_name.substr(3,5))-1 }}
                          </div>
                        </template>
                        <el-input-number v-model="linedata.line_type_index" style="width:90px" readonly :controls="false" type="number" />
                      </td>

                      <td>
                        <el-input-number v-model="linedata.unstretched_length" style="width:90px" :controls="false" type="number" />
                      </td>

                      <td>
                        <el-select v-model="linedata.anchor_node_number">
                          <el-option v-for="item in NodeNumbers" :key="item" :value="item" style="font-size:15px">{{ item }}</el-option>
                        </el-select>
                      </td>

                      <td>
                        <el-select v-model="linedata.fairlead_node_number">
                          <el-option v-for="item in NodeNumbers" :key="item" :value="item" style="font-size:15px">{{ item }}</el-option>
                        </el-select>
                      </td>

                      <td style="width: 1500px;text-align:left">
                        <el-checkbox-group v-model="linedata.flags">
                          <el-checkbox label="OMIT_CONTACT" />
                          <el-checkbox label="LINEAR_SPRING" />
                        </el-checkbox-group>
                      </td>

                    </tr>
                  </tbody>
                </table>
              </div>

              <div class="v-cloak">
                {{ Project.sk_inputs.master_structure_properties.custom_mooring_input.line_properties = LineData }}
              </div>
            </ul>

          </el-collapse-item>
          <hr>
        </template>

        <template v-else-if="Project.sk_inputs.master_structure_properties.positioning_type == 'fixed'">
          <el-collapse-item name="4">
            <template slot="title">
              <h2 class="h2_section">
                Foundation
              </h2>
            </template>

            <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar4" > Section Help </span>

            <h3 style="color:#16a085;font-size:20px">Seabed</h3>

            <ul>
              <template v-if="ProjectStatus.flag_url_sc_get_farm === 'True'">
                <table style="border:none;width:1000px">
                  <tr>
                    <td class="form_lines" style="width:190px">
                      <span style="font-weight:bold;font-size:15px"> Soil type : </span>
                    </td>
                    <td class="form_lines" style="width:209px">
                      <el-select v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.soil_type" style="width:175px">
                        <div v-for="(item,index) in Project.sk_inputs.device_properties.foundation_design_parameters.soil_type_SC_value" :key="index">
                          <el-option :value="Project.sk_inputs.device_properties.foundation_design_parameters.soil_type_SC_value[index]" style="font-size:15px"> {{ Project.sk_inputs.device_properties.foundation_design_parameters.soil_type_SC_name[index] }} </el-option>
                        </div>
                      </el-select>
                    </td>
                    <td class="form_lines" />
                  </tr>
                </table>
              </template>
              <template v-else>
                <table style="border:none;width:1000px">
                  <tr>
                    <td class="form_lines" style="width:190px">
                      <span style="font-weight:bold;font-size:15px"> Soil type : </span>
                    </td>
                    <td class="form_lines" style="width:209px">
                      <el-select v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.soil_type" style="width:175px">
                        <el-option value="very_soft_clay" style="font-size:15px"> Very Soft Clay </el-option>
                        <el-option value="soft_clay" style="font-size:15px"> Soft Clay </el-option>
                        <el-option value="firm_clay" style="font-size:15px"> Firm Clay </el-option>
                        <el-option value="stiff_clay" style="font-size:15px"> Stiff Clay </el-option>
                        <el-option value="very_stiff_clay" style="font-size:15px"> Very Stiff Clay </el-option>
                        <el-option value="hard_clay" style="font-size:15px"> Hard Clay </el-option>
                        <el-option value="very_loose_sand" style="font-size:15px"> Very Loose Sand </el-option>
                        <el-option value="loose_sand" style="font-size:15px"> Loose Sand </el-option>
                        <el-option value="medium_dense_sand" style="font-size:15px"> Medium Dense Sand </el-option>
                        <el-option value="dense_sand" style="font-size:15px"> Dense Sand </el-option>
                        <el-option value="very_dense_sand" style="font-size:15px"> Very Dense Sand </el-option>
                        <el-option value="gravels_pebbles" style="font-size:15px"> Rock/Gravels/Pebbles </el-option>
                        <el-option value="custom" style="font-size:15px"> custom </el-option>
                      </el-select>
                    </td>
                    <td class="form_lines" />
                  </tr>
                </table>
              </template>
              <table style="border:none;width:1000px">
                <tr>
                  <td class="form_lines" style="width:190px">
                    <span style="font-weight:bold;font-style:italic;font-size:15px"> Soil slope : </span>
                  </td>
                  <td class="form_lines" style="width:209px">
                    <el-input-number v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.soil_slope" style="width:175px" :controls="false" type="number" />
                  </td>
                  <td class="form_lines">
                    <span>steep >= 10° moderate < 10°</span>
                  </td>
                </tr>
              </table>
              <template v-if="Project.sk_inputs.master_structure_properties.foundation_design_parameters.soil_type === 'custom'">
                <table style="border:none;width:1000px">
                  <tr>
                    <td class="form_lines" style="width:190px">
                      <span style="font-weight:bold;font-style:italic;font-size:15px"> Buoyant density : </span>
                    </td>
                    <td class="form_lines" style="width:209px">
                        <el-input-number v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.soil_buoyant_weight" style="width:175px" :controls="false" type="number" />
                    </td>
                    <td class="form_lines" style="width:60px">
                      <span>[kg/m3]</span>
                    </td>
                    <td class="form_lines" style="width:160px">
                      <span style="font-weight:bold;font-style:italic;font-size:15px"> Soil cohesion : </span>
                    </td>
                    <td class="form_lines" style="width:209px">
                      <el-select v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.soil_type_def" style="width:175px">
                        <el-option value="cohesive" style="font-size:15px"> cohesive (ex: clay) </el-option>
                        <el-option value="cohesionless" style="font-size:15px"> cohesionless (ex: sand) </el-option>
                      </el-select>
                    </td>
                    <td class="form_lines" />
                  </tr>
                <template v-if="Project.sk_inputs.master_structure_properties.foundation_design_parameters.soil_type_def === 'cohesive'">
                  <tr>
                    <td class="form_lines">
                      <span style="font-weight:bold;font-style:italic;font-size:15px"> Undrained shear strength : </span>
                    </td>
                    <td class="form_lines">
                        <el-input-number v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.undrained_shear_strength" style="width:175px" :controls="false" type="number" />
                    </td>
                    <td class="form_lines">
                      <span>[Pa]</span>
                    </td>
                  </tr>
                </template>
                <template v-if="Project.sk_inputs.master_structure_properties.foundation_design_parameters.soil_type_def === 'cohesionless'">
                  <tr>
                    <td class="form_lines">
                      <span style="font-weight:bold;font-style:italic;font-size:15px"> Internal friction angle : </span>
                    </td>
                    <td class="form_lines">
                        <el-input-number v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.internal_friction_angle" style="width:175px" :controls="false" type="number" />
                    </td>
                    <td class="form_lines">
                      <span>[deg]</span>
                    </td>
                    <td class="form_lines">
                      <span style="font-weight:bold;font-style:italic;font-size:15px"> Relative density index : </span>
                    </td>
                    <td class="form_lines">
                        <el-input-number v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.relative_density" style="width:175px" :controls="false" type="number" />
                    </td>
                    <td class="form_lines">
                      <span>[-]</span>
                    </td>
                  </tr>
                </template>
                </table>
              </template>
              <table style="border:none;style:width:1000px">
                <tr>
                  <td class="form_lines" style="width:185px">
                    <span style="font-weight:bold;font-style:italic;font-size:15px"> Soil safety factor : </span>
                  </td>
                  <td class="form_lines" style="width:208px">
                    <el-radio-group v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.soil_properties_sf">
                      <el-radio label="user" style="font-size:15px"> User </el-radio>
                      <el-radio label="default" style="font-size:15px"> Default </el-radio>
                    </el-radio-group>
                  </td>
                  <td class="form_lines">
                    <i class="el-icon-info" /> <span style="font-size:15px;font-style:italic"> If Default DNV-OSJ103 is used </span>
                  </td>
                </tr>
              </table>
              <template v-if="Project.sk_inputs.master_structure_properties.foundation_design_parameters.soil_properties_sf === 'user'">
                <table style="border:none;width:1000px">
                  <tr>
                    <td class="form_lines" style="width:222px">
                      <span style="font-weight:bold;font-style:italic;font-size:15px"> Soil safety factor <br> value : </span>
                    </td>
                    <td class="form_lines" style="width:215px">
                      <el-input-number v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.user_soil_properties_sf" style="width:175px" :controls="false" type="number" />
                    </td>
                    <td class="form_lines" style="width:50px" />
                  </tr>
                </table>
              </template>
            </ul>
            <h3 style="color:#16a085;font-size:20px">Foundation Design</h3>
            <ul>
              <table style="border:none;width:1000px">
                <tr>
                  <td class="form_lines" style="width:185px">
                    <span style="font-weight:bold;font-style:italic;font-size:15px"> Design load : </span>
                  </td>
                  <td class="form_lines" style="width:320px">
                    <el-radio-group v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.design_load_flag">
                      <el-radio label="auto"> Automatic </el-radio>
                      <el-radio label="manual"> Manual </el-radio>
                    </el-radio-group>
                  </td>
                  <td class="form_lines" />
                </tr>
              </table>
              <template v-if="Project.sk_inputs.master_structure_properties.foundation_design_parameters.design_load_flag == 'auto'">
                <i class="el-icon-info" /> <span style="font-size:15px"> Automatic (use load from ULS analysis)</span>
              </template>
            </ul>
            <template v-if="Project.sk_inputs.master_structure_properties.foundation_design_parameters.design_load_flag == 'auto' && Project.sk_inputs.master_structure_properties.positioning_type === 'moored'">
              <ul>
                <table style="border:none;width:1000px">
                  <tr>
                    <td class="form_lines" style="width:185px">
                      <span style="font-style:italic;font-weight:bold;font-size:15px"> Mooring line proof load [fraction of MBL] : </span>
                    </td>
                    <td class="form_lines" style="width:320px">
                      <el-input-number v-model="Project.sk_inputs.master_structure_properties.mooring_design_criteria.proof_load_coeff" style="width:175px" :controls="false" type="number" :min=0 :max=1 />
                    </td>
                    <td class="form_lines">
                      <i class="el-icon-info" /> <span style="font-style:italic;font-weight:bold;font-size:15px"> Used if larger than load from ULS analysis </span>
                    </td>
                  </tr>
                </table>
              </ul>
            </template>
            <template v-if="Project.sk_inputs.master_structure_properties.foundation_design_parameters.design_load_flag == 'manual'">
              <ul>
                <i class="el-icon-info" /> <span style="font-weight:bold;font-size:15px"> Manual (define load manually)</span>
                <br>
                <table style="border:none;width:550px">
                  <tr>
                    <td class="form_lines" style="width:185px">
                      <span style="font-style:italic;font-weight:bold;font-size:15px"> Vertical minimal force </span>
                    </td>
                    <td class="form_lines" style="width:209px">
                      <el-input-number v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.design_load[0]" style="width:175px" :controls="false" type="number" />
                    </td>
                    <td class="form_lines">
                      <span>[N]</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="form_lines" style="width:150px">
                      <span style="font-style:italic;font-weight:bold;font-size:15px"> Vertical maximal force </span>
                    </td>
                    <td class="form_lines">
                      <el-input-number v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.design_load[1]" style="width:175px" :controls="false" type="number" />
                    </td>
                    <td class="form_lines">
                      <span>[N]</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="form_lines" style="width:150px">
                      <span style="font-style:italic;font-weight:bold;font-size:15px"> Force on x </span>
                    </td>
                    <td class="form_lines">
                      <el-input-number v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.design_load[2]" style="width:175px" :controls="false" type="number" />
                    </td>
                    <td class="form_lines">
                      <span>[N]</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="form_lines" style="width:150px">
                      <span style="font-style:italic;font-weight:bold;font-size:15px"> Force on y </span>
                    </td>
                    <td class="form_lines">
                      <el-input-number v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.design_load[3]" style="width:175px" :controls="false" type="number" />
                    </td>
                    <td class="form_lines">
                      <span>[N]</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="form_lines" style="width:150px">
                      <span style="font-style:italic;font-weight:bold;font-size:15px"> Moment on x </span>
                    </td>
                    <td class="form_lines">
                      <el-input-number v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.design_load[4]" style="width:175px" :controls="false" type="number" />
                    </td>
                    <td class="form_lines">
                      <span>[N.m]</span>
                    </td>
                  </tr>
                  <tr>
                    <td class="form_lines" style="width:150px">
                      <span style="font-style:italic;font-weight:bold;font-size:15px"> Moment on y </span>
                    </td>
                    <td class="form_lines">
                      <el-input-number v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.design_load[5]" style="width:175px" :controls="false" type="number" />
                    </td>
                    <td class="form_lines">
                      <span>[N.m]</span>
                    </td>
                  </tr>
                </table>
                <div style="width:200px;margin-left:600px;position:relative;bottom:350px;margin-bottom:-200px">
                  <i class="el-icon-info" /> <span style="font-weight:bold;font-size:16px"> The vertical minimal and maximal <br> forces are positive downwards.</span>
                  <span style="font-size:15px"> Example : </span>
                  <br>
                  <ul>
                    <span> if Moored : Vmin < 0 and Vmax = 0 </span>
                    <br>
                    <span> if Fixed : Vmin > 0 and Vmax > 0 </span>
                  </ul>
                </div>
              </ul>
            </template>
            <ul>
              <table style="border:none;width:1000px">
                <tr>
                  <td class="form_lines" style="width:185px">
                    <span style="font-weight:bold;font-style:italic;font-size:15px"> Load safety factor : </span>
                  </td>
                  <td class="form_lines" style="width:209px">
                    <el-input-number v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.SF" style="width:175px" :controls="false" type="number" />
                  </td>
                  <td class="form_lines" />
                </tr>
              </table>
              <table style="border:none;width:1000px">
                <tr>
                  <td class="form_lines" style="170px">
                    <span style="font-weight:bold;font-style:italic;font-size:15px"> Foundation type <br> selection : </span>
                  </td>
                  <td class="form_lines" style="width:300px">
                    <el-radio-group v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.foundation_type_selection">
                      <el-radio label="auto"> Automatic </el-radio>
                      <el-radio label="manual"> Manual </el-radio>
                    </el-radio-group>
                  </td>
                  <template v-if="Project.sk_inputs.master_structure_properties.foundation_design_parameters.foundation_type_selection == 'auto'">
                    <td class="form_lines" style="width:515px">
                      <el-alert
                        type="warning"
                        title="Warning !"
                        description="Automatic foundation selected."
                        :closable="false"
                        show-icon
                      />
                    </td>
                  </template>
                  <template v-else>
                    <td class="form_lines" style="width:515px" />
                  </template>
                </tr>
              </table>

              <template v-if="Project.sk_inputs.master_structure_properties.foundation_design_parameters.foundation_type_selection === 'auto'">
                <div class="v-cloak">
                  {{ Project.sk_inputs.master_structure_properties.foundation_design_parameters.foundation_preference = 'evaluation' }}
                  {{ Project.sk_inputs.master_structure_properties.foundation_design_parameters.foundation_design_flag = 'auto' }}
                </div>
              </template>
              <template v-else>
                <template v-if="Project.sk_inputs.master_structure_properties.positioning_type === 'fixed'">
                  <table style="border:none;width:1000px">
                    <tr>
                      <td class="form_lines" style="width:185px">
                        <span style="font-weight:bold;font-style:italic;font-size:15px"> Foundation type : </span>
                      </td>
                      <td class="form_lines">
                        <el-radio-group v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.foundation_preference" @change="update_default_cost()">
                          <el-radio label="shallow"> Gravity </el-radio>
                          <el-radio label="pile"> Pile </el-radio>
                        </el-radio-group>
                      </td>
                    </tr>
                  </table>
                </template>
                <template v-else>
                  <table style="border:none;width:1000px">
                    <tr>
                      <td class="form_lines" style="width:185px">
                        <span style="font-weight:bold;font-style:italic;font-size:15px"> Foundation type : </span>
                      </td>
                      <td class="form_lines">
                        <el-radio-group v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.foundation_preference" @change="update_default_cost()">
                          <el-radio label="gravity_anchor"> Gravity </el-radio>
                          <el-radio label="pile"> Pile </el-radio>
                          <el-radio label="drag_anchor"> Drag </el-radio>
                          <el-radio label="suction_caisson"> Suction Caisson </el-radio>
                        </el-radio-group>
                      </td>
                    </tr>
                  </table>
                  <template v-if="Project.sk_inputs.master_structure_properties.foundation_design_parameters.foundation_preference == 'drag_anchor'">
                    <br>
                    <table class="table_scroll">
                      <tbody class="tbody_scroll">
                        <tr>
                          <td style="font-weight:bold;min-width:150px"> Anchor </td>
                          <td style="font-weight:bold"> m soft soil </td>
                          <td style="font-weight:bold"> b soft soil </td>
                          <td style="font-weight:bold"> m mid soil </td>
                          <td style="font-weight:bold"> b mid soil </td>
                          <td style="font-weight:bold"> m stiff soil sand </td>
                          <td style="font-weight:bold"> b stiff soil sand </td>
                          <td style="font-weight:bold"> m A </td>
                          <td style="font-weight:bold"> b A </td>
                          <td style="font-weight:bold"> m B </td>
                          <td style="font-weight:bold"> b B </td>
                          <td style="font-weight:bold"> m EF </td>
                          <td style="font-weight:bold"> b EF </td>
                          <td style="font-weight:bold"> Reliability in soft soil </td>
                          <td style="font-weight:bold"> Reliability in mid soil </td>
                          <td style="font-weight:bold"> Reliability in hard soil </td>
                        </tr>
                        <tr>
                          <td>
                            <el-select v-model="anchor_selected" @change="Fill_anchor_table()">
                              <el-option value="0" label="Anchor 1" style="font-size:15px"> Anchor 1 </el-option>
                              <el-option value="1" label="Anchor 2" style="font-size:15px"> Anchor 2 </el-option>
                            </el-select>
                          </td>
                          <td v-for="(item,index) in anchor_table" :key="index">
                            <el-input-number v-model="anchor_table[index]" :controls="false" disabled />
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </template>
                </template>
                <br>
                <template v-if="Project.sk_inputs.master_structure_properties.foundation_design_parameters.foundation_preference === 'gravity_anchor'||Project.sk_inputs.master_structure_properties.foundation_design_parameters.foundation_preference === 'shallow'">
                  <table style="width:1000px;border:none">
                      <tr>
                        <td class="form_lines" style="width:190px">
                          <span style="font-weight:bold;font-style:italic;font-size:15px"> Foundation material : </span>
                        </td>
                        <td class="form_lines" style="width:209px">
                          <el-input v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.foundation_material" style="width:175px" :controls="false" type="text" />
                        </td>
                        <td class="form_lines" style="width:60px" />
                        <td class="form_lines" style="width:160px">
                          <span style="font-weight:bold;font-style:italic;font-size:15px"> Foundation density: </span>
                        </td>
                        <td class="form_lines" style="width:209px">
                          <el-input-number v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.foundation_material_density" style="width:175px" :controls="false" type="number" />
                        </td>
                        <td class="form_lines">
                          <span>[kg/m3]</span>
                        </td>
                      </tr>
                  </table>
                </template>
                <table style="border:none;width:1000px">
                  <tr>
                    <td class="form_lines" style="width:185px">
                      <span style="font-weight:bold;font-style:italic;font-size:15px"> Dimensioning <br> method : </span>
                    </td>
                    <td class="form_lines">
                      <el-radio-group v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.foundation_design_flag">
                        <el-radio label="auto"> Automatic </el-radio>
                        <el-radio label="manual"> Manual </el-radio>
                      </el-radio-group>
                    </td>
                  </tr>
                </table>
                <br>
                <template v-if="Project.sk_inputs.master_structure_properties.foundation_design_parameters.foundation_preference === 'gravity_anchor'">
                  <table style="border:none;width:1000px">
                    <tr>
                      <td class="form_lines" style="width:185px">
                        <span style="font-weight:bold;font-style:italic;font-size:15px"> Geometry preference : </span>
                      </td>
                      <td class="form_lines">
                        <el-radio-group v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.custom_foundation_input.geometry_pref">
                          <el-radio label="rectangular"> Rectangular </el-radio>
                          <el-radio label="cylinder"> Cylinder </el-radio>
                          <el-radio label="contact_points"> Contact points </el-radio>
                        </el-radio-group>
                      </td>
                    </tr>
                  </table>
                </template>
                <template v-if="Project.sk_inputs.master_structure_properties.foundation_design_parameters.foundation_preference === 'pile'">
                  <br>
                  <table style="border:none;width:1000px">
                    <tr>
                      <td class="form_lines" style="width:190px">
                        <span style="font-weight:bold;font-style:italic;font-size:15px"> Deflection criteria : </span>
                      </td>
                      <td class="form_lines" style="width:209px">
                        <el-input-number v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.deflection_criteria_for_pile" style="width:175px" :controls="false" type="number" />
                      </td>
                      <td class="form_lines" style="width:60px">
                        <span>[%]</span>
                      </td>
                      <td class="form_lines" style="width:160px">
                        <span style="font-weight:bold;font-style:italic;font-size:15px"> Pile tip end : </span>
                      </td>
                      <td class="form_lines" style="width:209px">
                        <el-radio-group v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.pile_tip">
                          <el-radio label="open_end"> Open </el-radio>
                          <el-radio label="close_end"> Close </el-radio>
                        </el-radio-group>
                      </td>
                      <td class="form_lines" />
                    </tr>
                    <tr>
                      <td class="form_lines">
                        <span style="font-weight:bold;font-style:italic;font-size:15px"> Pile length <br> above seabed : </span>
                      </td>
                      <td class="form_lines">
                        <el-input-number v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.pile_length_above_seabed" style="width:175px" :controls="false" type="number" />
                      </td>
                    </tr>
                  </table>
                  <div class="v-cloak">
                    {{ Project.sk_inputs.master_structure_properties.foundation_design_parameters.dist_attachment_pa = 0 }}
                  </div>
                </template>

                <template v-if="Project.sk_inputs.master_structure_properties.foundation_design_parameters.foundation_design_flag == 'manual'">
                  <template v-if="Project.sk_inputs.master_structure_properties.foundation_design_parameters.foundation_preference === 'pile' || Project.sk_inputs.master_structure_properties.foundation_design_parameters.foundation_preference === 'suction_caisson'">
                    <table style="border:none;width:1000px">
                      <tr>
                        <td class="form_lines" style="width:192px">
                          <span style="font-weight:bold;font-style:italic;font-size:15px"> Thickness : </span>
                        </td>
                        <td class="form_lines" style="width:209px">
                          <el-input-number v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.custom_foundation_input.w_t" style="width:175px" :controls="false" type="number" />
                        </td>
                        <td class="form_lines" style="width:60px">
                          <span>[m]</span>
                        </td>
                        <td class="form_lines" style="width:160px">
                          <span style="font-weight:bold;font-style:italic;font-size:15px"> External <br> diameter : </span>
                        </td>
                        <td class="form_lines" style="width:209px">
                          <el-input-number v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.custom_foundation_input.d_ext" style="width:175px" :controls="false" type="number" />
                        </td>
                        <td class="form_lines">
                          <span>[m]</span>
                        </td>
                      </tr>
                      <tr>
                        <td class="form_lines">
                          <span style="font-weight:bold;font-style:italic;font-size:15px"> Burried <br> length : </span>
                        </td>
                        <td class="form_lines">
                          <el-input-number v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.custom_foundation_input.length" style="width:175px" :controls="false" type="number" />
                        </td>
                        <td class="form_lines">
                          <span>[m]</span>
                        </td>
                      </tr>
                    </table>
                  </template>
                  <template v-if="Project.sk_inputs.master_structure_properties.foundation_design_parameters.foundation_preference === 'gravity_anchor'||Project.sk_inputs.master_structure_properties.foundation_design_parameters.foundation_preference === 'shallow'">
                    <template v-if="Project.sk_inputs.master_structure_properties.foundation_design_parameters.custom_foundation_input.geometry_pref === 'rectangular'">
                      <table style="border:none;width:1000px">
                        <tr>
                          <td class="form_lines" style="width:190px">
                            <span style="font-weight:bold;font-style:italic;font-size:15px"> Base length x : </span>
                          </td>
                          <td class="form_lines" style="width:209px">
                            <el-input-number v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.custom_foundation_input.base_lx" style="width:175px" :controls="false" type="number" />
                          </td>
                          <td class="form_lines" style="width:60px">
                            <span>[m]</span>
                          </td>
                          <td class="form_lines" style="width:160px">
                            <span style="font-weight:bold;font-style:italic;font-size:15px"> Base length y : </span>
                          </td>
                          <td class="form_lines" style="width:209px">
                            <el-input-number v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.custom_foundation_input.base_ly" style="width:175px" :controls="false" type="number" />
                          </td>
                          <td class="form_lines">
                            <span>[m]</span>
                          </td>
                        </tr>
                      </table>
                    </template>
                    <template v-if="Project.sk_inputs.master_structure_properties.foundation_design_parameters.custom_foundation_input.geometry_pref === 'contact_points'">
                      <table style="border:none;width:1000px">
                        <tr>
                        <td class="form_lines" style="width:460px">
                          <tr>
                          <td class="form_lines" style="width:190px">
                            <span style="font-weight:bold;font-style:italic;font-size:15px"> Radius r1 : </span>
                          </td>
                          <td class="form_lines" style="width:209px">
                            <el-input-number v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.custom_foundation_input.base_r1" style="width:175px" :controls="false" type="number" />
                          </td>
                          <td class="form_lines" style="width:60px">
                            <span>[m]</span>
                          </td>
                          </tr>
                          <tr>
                          <td class="form_lines" style="width:160px">
                            <span style="font-weight:bold;font-style:italic;font-size:15px"> Radius r2 : </span>
                          </td>
                          <td class="form_lines" style="width:209px">
                            <el-input-number v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.custom_foundation_input.base_r2" style="width:175px" :controls="false" type="number" />
                          </td>
                          <td class="form_lines" style="width:60px">
                            <span>[m]</span>
                          </td>
                          </tr>
                          <tr>
                          <td class="form_lines" style="width:190px">
                            <span style="font-weight:bold;font-style:italic;font-size:15px"> Radius r3 : </span>
                          </td>
                          <td class="form_lines" style="width:209px">
                            <el-input-number v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.custom_foundation_input.base_r3" style="width:175px" :controls="false" type="number" />
                          </td>
                          <td class="form_lines" style="width:60px">
                            <span>[m]</span>
                          </td>
                          </tr>
                          <tr>
                          <td class="form_lines" style="width:190px">
                            <span style="font-weight:bold;font-style:italic;font-size:15px"> Angle a01 : </span>
                          </td>
                          <td class="form_lines" style="width:209px">
                            <el-input-number v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.custom_foundation_input.base_alpha01" style="width:175px" :controls="false" type="number" />
                          </td>
                          <td class="form_lines" style="width:60px">
                            <span>[deg]</span>
                          </td>
                          </tr>
                          <tr>
                          <td class="form_lines" style="width:160px">
                            <span style="font-weight:bold;font-style:italic;font-size:15px"> Angle a12 : </span>
                          </td>
                          <td class="form_lines" style="width:209px">
                            <el-input-number v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.custom_foundation_input.base_alpha12" style="width:175px" :controls="false" type="number" />
                          </td>
                          <td class="form_lines" style="width:60px">
                            <span>[deg]</span>
                          </td>
                          </tr>
                          <tr>
                          <td class="form_lines" style="width:190px">
                            <span style="font-weight:bold;font-style:italic;font-size:15px"> Angle a23 : </span>
                          </td>
                          <td class="form_lines" style="width:209px">
                            <el-input-number v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.custom_foundation_input.base_alpha23" style="width:175px" :controls="false" type="number" />
                          </td>
                          <td class="form_lines" style="width:60px">
                            <span>[deg]</span>
                          </td>
                          </tr>
                        </td>
                        <td class="form_lines" style="width:460px">
                          <img src="@/assets/modules_images/contact_points_def.png" alt="end spe" width="400" height="300">
                        </td>
                        </tr>
                        <td class="form_lines" style="width:460px">
                        <tr>
                          <td class="form_lines" style="width:190px">
                            <span style="font-weight:bold;font-style:italic;font-size:15px"> Foundation mass : </span>
                          </td>
                          <td class="form_lines" style="width:209px">
                            <el-input-number v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.custom_foundation_input.contact_points_mass" style="width:175px" :controls="false" type="number" />
                          </td>
                          <td class="form_lines" style="width:60px">
                            <span>[kg]</span>
                          </td>
                        </tr>
                        </td>
                      </table>
                    </template>
                    <template v-if="Project.sk_inputs.master_structure_properties.foundation_design_parameters.custom_foundation_input.geometry_pref === 'cylinder'">
                      <table style="border:none;width:1000px">
                        <tr>
                          <td class="form_lines" style="width:185px">
                            <span style="font-weight:bold;font-style:italic;font-size:15px"> Base radius : </span>
                          </td>
                          <td class="form_lines" style="width:209px">
                            <el-input-number v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.custom_foundation_input.base_r" style="width:175px" :controls="false" type="number" />
                          </td>
                          <td class="form_lines">
                            <span>[m]</span>
                          </td>
                        </tr>
                      </table>
                    </template>
                    <template v-if="Project.sk_inputs.master_structure_properties.foundation_design_parameters.custom_foundation_input.geometry_pref === 'rectangular' || Project.sk_inputs.master_structure_properties.foundation_design_parameters.custom_foundation_input.geometry_pref === 'cylinder'">
                      <table style="width:1000px;border:none">
                        <tr>
                          <td class="form_lines" style="width:185px">
                            <span style="font-weight:bold;font-style:italic;font-size:15px"> Base thickness : </span>
                          </td>
                          <td class="form_lines" style="width:209px">
                            <el-input-number v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.custom_foundation_input.thickness" style="width:175px" :controls="false" type="number" />
                          </td>
                          <td class="form_lines">
                            <span>[m]</span>
                          </td>
                        </tr>
                      </table>
                    </template>
                  </template>
                  <template v-if="Project.sk_inputs.master_structure_properties.foundation_design_parameters.foundation_preference === 'drag_anchor'">
                    <table style="border:none;width:1000px">
                      <tr>
                        <td class="form_lines" style="width:185px">
                          <span style="font-weight:bold;font-style:italic;font-size:15px"> Mass : </span>
                        </td>
                        <td class="form_lines" style="width:209px">
                          <el-input-number v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.custom_foundation_input.mass" style="width:175px" :controls="false" type="number" />
                        </td>
                        <td class="form_lines">
                          <span>[kg]</span>
                        </td>
                      </tr>
                    </table>
                  </template>
                </template>
                <table style="border:none;width:485px">
                  <tr>
                    <td class="form_lines" style="width:185px">
                      <span style="font-weight:bold;font-style:italic;font-size:15px"> Foundation <br> material cost : </span>
                    </td>
                    <td class="form_lines" style="width:209px">
                      <el-input-number v-model="Project.sk_inputs.master_structure_properties.foundation_design_parameters.foundation_cost_per_kilo" style="width:175px" :controls="false" type="number" />
                    </td>
                    <td class="form_lines" style="width:60px">
                      <span>[€/kg]</span>
                    </td>
                  </tr>
                </table>
                <table style="border:none;width:800px">
                  <tr>
                    <td class="form_lines" style="width:460px">
                      <i class="el-icon-info" /><span style="font-style:italic;font-size:15px"> Guidance: <br>  - Steel 0.4 - 1.2€/kg <br> - Concrete 0.08 - 0.125€/kg <br> - Drag anchors 5€/kg <br> - Pile/monopile 3.7€/kg</span>
                    </td>
                  </tr>
                </table>
              </template>

            </ul>


          </el-collapse-item>
          <hr>
        </template>

      </el-collapse>
      <br>
      <br>
    </template>
    <br>
    <br>

    <el-button type='info'
              style="float:left;font-family:Open Sans"
              @click.prevent="changePage('Device_Properties')"><i class="el-icon-arrow-left"></i>Previous Page </el-button>

    <el-button type='info'
              style="float:right;font-family:Open Sans"
              @click.prevent="changePage('Substation_Properties')">Next Page <i class="el-icon-arrow-right"></i> </el-button>
    <template v-if="ProjectStatus.complexity_level === 3">
      <span style="font-weight:bold;float:right;margin-right:20px;font-size:20px;padding-top:6px;font-family:Open Sans"> 3/5 </span>
    </template>
    <template v-if="GoToRunModule === true">
      <br><br><br>
      <el-button type='info'
              style="float:right;margin-left:25px;font-family:Open Sans"
              @click.prevent="changePage('Run_Module')">Run Module Page <i class="el-icon-arrow-right"></i> </el-button>
    </template>

    <br>
    <br>
    <br>
    <br>
    <img center width="300px" src="@/assets/logos/dtoceanplus_logo.png" alt="Center image" align="right">
    <br>

  </div>
</template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'
export default {
  data() {
    return {
      activeNames: [],
      LineData: [],
      NodeNumbers: [],
      NodeData: [],
      LineTypeNames: [],
      LineTypeData: [],
      message: '',
      dialogFormVisible: false,
      uploadJson: '',
      display_message: false,
      anchor_selected: '',
      anchor_table: ['','','','','','','','','','','','','','','']
    }
  },
  computed: {
    ...mapState(['Project', 'ProjectStatus', 'GoToRunModule', 'Results', 'Name'])
  },
  beforeMount() {
    if (this.Project.sk_inputs.master_structure_properties.foundation_design_parameters.foundation_preference === 'evaluation') {
      this.Project.sk_inputs.master_structure_properties.foundation_design_parameters.foundation_type_selection = 'auto'
    } else {
      this.Project.sk_inputs.master_structure_properties.foundation_design_parameters.foundation_type_selection = 'manual'
    }
    this.anchor_selected = String(this.Project.sk_inputs.master_structure_properties.foundation_design_parameters.catalogue_index)
    this.Fill_anchor_table()
  },
  methods: {
    changePage(pagename) {
      this.ProjectStatus.master_structure_properties_page = true
      this.ProjectStatus.entity_status = 30
      this.$router.push({
        name: pagename
      })
    },
    addNewRow1() {
      this.LineTypeData.push({
        catalogue_id: 'None',
        line_type_name: '',
        material: '',
        type: '',
        quality: '',
        diameter: [],
        diameter_fls: 0.0,
        weight_in_air: [],
        weight_in_water: [],
        ea: [],
        cb: 1.0,
        mbl: [],
        mbl_uls: 0.0,
        cost_per_meter: [],
        ad: [],
        m: [],
        failure_rate_repair: [],
        failure_rate_replacement: []
      })
    },
    addNewRow2() {
      this.NodeData.push({
        node_number: [],
        type: '',
        position: [0, 0, 0],
        is_initial_guess: 'False',
        point_mass: [],
        point_volume: [],
        force: [0, 0, 0],
        anchor_required: 'False',
        anchor_type: ''
      })
    },
    addNewRow3() {
      this.LineData.push({
        line_number: [],
        line_type_name: '',
        line_type_index: [],
        unstretched_length: [],
        anchor_node_number: [],
        fairlead_node_number: [],
        flags: []
      })
    },
    deleteRow(index, variable, Variable, cpt_test) {
      var idx = Variable.indexOf(variable)
      console.log(idx, index)
      if (idx > -1) {
        Variable.splice(idx, 1)
        if (cpt_test === 1) {
          this.LineTypeNames.splice(idx, 1)
        }
      }
    },
    async uploaderMooringSystem(file) {
      this.uploadJson = await this.onloadJson(file)
      if (this.uploadJson.__type__ === 'dtosk:inputs:MooringCheckInputs') {
        this.display_message = false
        this.$refs.upload.clearFiles()
        this.$refs.upload.abort()
      } else {
        this.display_message = true
        this.$refs.upload.clearFiles()
        this.$refs.upload.abort()
      }
    },
    onloadJson(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader()
        reader.readAsText(file.file)
        reader.onload = (e) => {
          resolve(JSON.parse(e.target.result))
        }
      })
    },
    PrepareMooringSystemDialog(test_load) {
      if (test_load === false) {
        this.LineTypeData = this.Project.sk_inputs.master_structure_properties.custom_mooring_input.line_dictionnary
        this.NodeData = this.Project.sk_inputs.master_structure_properties.custom_mooring_input.node_properties
        this.LineData = this.Project.sk_inputs.master_structure_properties.custom_mooring_input.line_properties
      } else {
        this.LineTypeData = this.uploadJson.custom_mooring_input.line_dictionnary
        this.Project.sk_inputs.master_structure_properties.custom_mooring_input.line_dictionnary = this.uploadJson.custom_mooring_input.line_dictionnary
        this.NodeData = this.uploadJson.custom_mooring_input.node_properties
        this.Project.sk_inputs.master_structure_properties.custom_mooring_input.node_properties = this.uploadJson.custom_mooring_input.node_properties
        this.LineData = this.uploadJson.custom_mooring_input.line_properties
        this.Project.sk_inputs.master_structure_properties.custom_mooring_input.line_properties = this.uploadJson.custom_mooring_input.line_properties
        this.Project.sk_inputs.master_structure_properties.custom_mooring_input.name = this.uploadJson.custom_mooring_input.name
      }
    },
    async openSidebar1() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Main Characteristics',
        message: '<span>Water depth and position of the master structure relative to the farm origin</span>',

        duration: 0,
        position: 'top-right'
      })
    },
    async openSidebar2() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Positionning type',
        message: '<span>Used to define if the master structure is fixed or moored (i.e. floating)</span>',

        duration: 0,
        position: 'top-right'
      })
    },
    async openSidebar3() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Mooring System',
        message: '<span>Definition of the mooring system of the master structure. The anchor points of the devices connected to the master structure will transmit the forces from the devices mooring lines to the master structure, as if the master structure was a rigid body. Then a static ULS analysis is performed on the mooring lines of the master structure. Dynamic analysis is not performed for the master structure (although dynamic forces from the devices are included). FLS analysis is not performed for the master structure.</span>',

        duration: 0,
        position: 'top-right'
      })
    },
    async openSidebar4() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'Foundation',
        message: '<span>This section gathers the inputs necessary to the definition of the foundation or anchors.</span>' +
          '<h3> Soil type </h3> <span>The user can select the soil type within a default list (the list comes from SC in integrated mode), or input his own custom soil properties. If "custom" is chosen, the user needs to input the buoyant density of the soil, the soil cohesion (cohesive or cohesionless). If "cohesive" is selected, the Undrained Shear Strength is required. If "cohesionless" is selected, the Internal Friction Angle and the Relative Density Index are requested. In the particular case of gravity base foundations of fixed device with contact points (and not a contact surface) on rocky soil, it is recommanded to select "Custom" and "Cohesionless" and specify the Internal Friction Angle: this value will be used as the friction coefficient between the foundation and the rock soil</span>' +
          '<h3> Soil slope </h3> <span>Slope of the sea bottom. This may influence the ULS criteria calculation due to a slightly different load vector projection.</span>' +
          '<h3> Soil safety fator </h3> <span>Used to defined the uncertainty on the soil properties. "Default" uses the DNVGL-OSJ103 value (1.3). By selecting "User", the value can be chosen by the user.</span>'+
          '<h3> Design load </h3> <span>Method to define the design load applied to the foundation to compute the ULS criteria. "Automatic" means that the forces computed during the ULS analysis will be applied at the foundation/anchors. For a fixed foundation, the forces are the sum of the wind, current, waves, gravity and rotor (if any) forces. For a floating device, this will be the maximum line tension observed in the line segment connected to the anchor. If "Manual" is chosen, the design load can be specified manually. In the latter case, vertical forces are positive downwards (as this is usually the convention in geotechnics).</span>' +
          '<h3> Load safety factor </h3> <span>Safety factor that will be applied to the design load when checking the ULS criteria.</span>' +
          '<h3> Foundation type selection </h3> <span>By selecting "Automatic", the SK module will select the most appropriate foundation. This functionality is very basic, so it is recommanded to select "Manual" as soon as the user has an idea of the type of foundation he would like to consider.</span>' +
          '<h3> Foundation type </h3> <span>The user can choose between Gravity, Pile, Drag anchors or suction caisson for anchors, or Gravity and Piles (monopiles) for fixed devices.</span>' +
          '<h3> Foundation material cost </h3> <span>Cost of the foundation material in [€/kg].</span>'+
          '<h3> Dimensioning method </h3> <span>By selecting "Automatic", the dimensions of the foundation/anchor will be determined by the SK module so that the ULS criteria are passed. By selecting "manual", the ULS criteria will be computed for the user-defined design.</span>'+
          '<h3> Gravity - Geometry preference </h3> <span>The user can choose the shape of the gravity base foundation/anchor: "rectangular", "cylinder" or "contact poitns". If "Contact points" is selected, the gravity base foundation is modelled as a weight with 3 contact points on the sea bed (which is relevant e.g. for rock soil). the variable "Foundation density" is ignored for "Contact points" foundations.</span>'+
          '<h3> Gravity - Foundation material and density </h3> <span>Foundation material and density can be chosen for foundation of type "Gravity". the variable "Foundation density" is ignored for "Contact points" foundations.</span>'+
          '<h3> Gravity - Base length x, length y, thickness </h3> <span>For manual definition of a rectangular gravity foundation, the users needs to define the x, y and thickness dimensions.</span>'+
          '<h3> Gravity - Base radius, thickness </h3> <span>For manual definition of a cylindrical gravity foundation, the users needs to define the radius and thickness dimensions.</span>'+
          '<h3> Gravity - Radius r1, r2, r3 and Angles a01, a12, a23 </h3> <span>For manual definition of a "contact point" foundation, the three radii and angles of each contact points must be defined. THe mass of the foundation also need to be defined: the variable "Foundation density" is ignored for "Contact points" foundations.</span>'+
          '<h3> Pile - Deflection criteria </h3> <span>For definition of a pile, the deflection criteria value (treshold) is used to check the ULS criteria (lateral capacity). It is expressed in terms of % of the external diameter of the pile.</span>'+
          '<h3> Pile - Pile tip end </h3> <span>For definition of a pile, the user needs to define if the pile tip end is open or close. It influences the calculation of the bearing capacity criteria.</span>'+
          '<h3> Pile - Pile length above seabed </h3> <span>The pile length above seabed is taken into account in the calculation by increasing the foudnation weight and adding a drag current force to the design load.</span>'+
          '<h3> Pile - Burried length, Thickness, External diameter </h3> <span>For manual definition of a pile, the user needs to specify the burried length, wall thickness and external diameter of the pile.</span>'+
          '<h3> Drag anchor - Selection </h3> <span>The user has to select from the catalogue the anchor he would like to use in the design. Two anchors are provided in the default catalogue.</span>'+
          '<h3> Drag anchor - Mass </h3> <span>For manual definition of a drag anchor, the mass of the drag anchor has to be defined.</span>'+
          '<h3> Suction caisson - Burried length, Thickness, External diameter </h3> <span>For manual definition of a suction caisson, the user needs to specify the burried length, wall thickness and external diameter of the suction caisson.</span>',

        duration: 0,
        position: 'top-right'
      })
    },
    ExtractLineIndex(index) {
      if (this.LineTypeData[index].catalogue_id !== 'None') {
        for (let i=0; i < this.Project.catalogue_lines.catalogue_id.length; i++) {
          if (this.Project.catalogue_lines.catalogue_id[i] === this.LineTypeData[index].catalogue_id) {
            this.LineTypeData[index].material = this.Project.catalogue_lines.material[i]
            this.LineTypeData[index].type = this.Project.catalogue_lines.type[i]
            this.LineTypeData[index].quality = this.Project.catalogue_lines.quality[i]
            this.LineTypeData[index].diameter = this.Project.catalogue_lines.diameter[i]
            this.LineTypeData[index].diameter_fls = this.Project.catalogue_lines.diameter[i]
            this.LineTypeData[index].weight_in_air = this.Project.catalogue_lines.weight_in_air[i]
            this.LineTypeData[index].weight_in_water = this.Project.catalogue_lines.weight_in_water[i]
            this.LineTypeData[index].ea = this.Project.catalogue_lines.ea[i]
            this.LineTypeData[index].mbl = this.Project.catalogue_lines.mbl[i]
            this.LineTypeData[index].mbl_uls = this.Project.catalogue_lines.mbl[i]
            this.LineTypeData[index].cost_per_meter = this.Project.catalogue_lines.cost_per_meter[i]
            this.LineTypeData[index].ad = this.Project.catalogue_lines.ad[i]
            this.LineTypeData[index].m = this.Project.catalogue_lines.m[i]
            this.LineTypeData[index].failure_rate_repair = this.Project.catalogue_lines.failure_rate_repair[i]
            this.LineTypeData[index].failure_rate_replacement = this.Project.catalogue_lines.failure_rate_replacement[i]
          }
        }
      } else {
        this.LineTypeData[index].material = ''
        this.LineTypeData[index].type = ''
        this.LineTypeData[index].quality = ''
        this.LineTypeData[index].diameter = ''
        this.LineTypeData[index].diameter_fls = ''
        this.LineTypeData[index].weight_in_air = ''
        this.LineTypeData[index].weight_in_water = ''
        this.LineTypeData[index].ea = ''
        this.LineTypeData[index].cb = ''
        this.LineTypeData[index].mbl = ''
        this.LineTypeData[index].mbl_uls = ''
        this.LineTypeData[index].cost_per_meter = ''
        this.LineTypeData[index].ad = ''
        this.LineTypeData[index].m = ''
        this.LineTypeData[index].failure_rate_repair = ''
        this.LineTypeData[index].failure_rate_replacement = ''
      }
    },
    Fill_anchor_table() {
      this.Project.sk_inputs.master_structure_properties.foundation_design_parameters.catalogue_index = parseInt(this.anchor_selected)

      this.anchor_table[0] = this.Project.catalogue_anchors.m_soft_soil[parseInt(this.anchor_selected)]
      this.anchor_table[1] = this.Project.catalogue_anchors.b_soft_soil[parseInt(this.anchor_selected)]
      this.anchor_table[2] = this.Project.catalogue_anchors.m_mid_soil[parseInt(this.anchor_selected)]
      this.anchor_table[3] = this.Project.catalogue_anchors.b_mid_soil[parseInt(this.anchor_selected)]
      this.anchor_table[4] = this.Project.catalogue_anchors.m_stiff_soil_sand[parseInt(this.anchor_selected)]
      this.anchor_table[5] = this.Project.catalogue_anchors.b_stiff_soil_sand[parseInt(this.anchor_selected)]
      this.anchor_table[6] = this.Project.catalogue_anchors.m_A[parseInt(this.anchor_selected)]
      this.anchor_table[7] = this.Project.catalogue_anchors.b_A[parseInt(this.anchor_selected)]
      this.anchor_table[8] = this.Project.catalogue_anchors.m_B[parseInt(this.anchor_selected)]
      this.anchor_table[9] = this.Project.catalogue_anchors.b_B[parseInt(this.anchor_selected)]
      this.anchor_table[10] = this.Project.catalogue_anchors.m_EF[parseInt(this.anchor_selected)]
      this.anchor_table[11] = this.Project.catalogue_anchors.b_EF[parseInt(this.anchor_selected)]
      this.anchor_table[12] = this.Project.catalogue_anchors.Rel_soft_soil[parseInt(this.anchor_selected)]
      this.anchor_table[13] = this.Project.catalogue_anchors.Rel_mid_soil[parseInt(this.anchor_selected)]
      this.anchor_table[14] = this.Project.catalogue_anchors.Rel_stiff_soil_sand[parseInt(this.anchor_selected)]
    }
  }
}
</script>

<style lang="scss">

.h2_section {
  cursor: pointer;
  user-select: none;
  font-size: 25px;
  font-family: "Rajdhani";
}

table {
  border-collapse: collapse;
  border: 1px solid #444444;
  border-radius: 3px;
  background-color: #fff;
}

td {
  background-color: #f9f9f9;
}

th, td {
  min-width: 120px;
  padding: 10px 10px;
  border: 1px solid #a9a3a3;
  text-align: center;
}

th.active {
  color: #0400ff;
}

th.active .arrow {
  opacity: 1;
}

.table_scroll {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  border: 1.5px solid #444444;
  border-collapse: collapse;
  overflow: hidden;
}

/* Scroll the actual tbody (second child on all browsers) */
.tbody_scroll {
  display: block;
  overflow: scroll;
}

body { min-width: 1300px; }

span { font-family: "Open Sans" }

h3 { font-family: "Rajdhani"}

</style>
