<!--
This is the Station Keeping module of the DTOceanPlus suite
Copyright (C) 2021 France Energies Marines - Neil Luxcey, Nicolas Michelet, Rocio Isorna

This program is free software: you can redistribute it and/or modify it
under the terms of the Affero GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License
for more details.

You should have received a copy of the Affero GNU General Public License
along with this program. If not, see <https://www.gnu.org/licenses/>.
-->
<template>
  <div class="app-container">

    <ul>
      <el-row>
        <el-col :lg="5" style="margin-left:80px">
          <el-button
            type="info"
            style="font-size:15px"
            @click.prevent="GoToBOM()"
          >
            <el-row>
              <img src="@/assets/logos/BOM.png" width="25" height="30" align="left">
              <ul>
                <span> Bill of <br> Materials </span>
              </ul>
            </el-row>
          </el-button>
        </el-col>
        <el-col :lg="5" style="margin-right:35px">
          <el-button
            type="info"
            style="font-size:15px"
            @click.prevent="GoToEI()"
          >
            <el-row>
              <img src="@/assets/logos/green.png" width="35" height="30" align="left">
              <ul>
                <span> Environmental <br> Impact </span>
              </ul>
            </el-row>
          </el-button>
        </el-col>
        <el-col :lg="5" style="margin-right:20px">
          <el-button
            type="info"
            style="font-size:15px"
            @click.prevent="GoToDA()"
          >
            <el-row>
              <img src="@/assets/logos/design_assessment.png" width="30" height="28" align="left">
              <ul>
                <span> Design <br> Assessment </span>
              </ul>
            </el-row>
          </el-button>
        </el-col>
        <el-col :lg="5" style="margin-right:10px">
          <el-button
            type="info"
            style="font-size:15px"
            disabled
          >
            <el-row>
              <img src="@/assets/logos/ULS_FLS.png" width="30" height="28" align="left">
              <ul style="padding-top:5px">
                <span> ULS / FLS </span>
              </ul>
            </el-row>
          </el-button>
        </el-col>
      </el-row>
    </ul>

    <br>
    <br>
    <img src="@/assets/logos/ULS_FLS.png" alt="end spe" width="110" height="100" align="left">
    <tr>
      <td class="form_lines" style="width:40%; text-align:left">
        <h1 class="my_h1"> ULS / FLS </h1>
      </td>
      <td class="form_lines" style="width:20%; text-align:right">
        <template v-if="Name === 'none' || Name.length == 0">
          <h2 class="h2_section"> Name of the Project : <span style="color:#16a085">Not defined</span></h2>
        </template>
        <template v-else>
          <h2 class="h2_section"> Name of the Project : <span style="color:#16a085">{{ Name }}</span></h2>
        </template>
      </td>
    </tr>
    <br>

    <template v-if="Results === false">
      <span style="font-weight:bold"> No results available for this project </span>
    </template>

    <template v-else-if="Results === 'running'">
      <span style="font-weight:bold"> The calculation is in progress </span>
    </template>

    <template v-else>
      <br>
      <span style="font-weight:bold"> Select one of the items to display the corresponding results </span>

      <ul>
        <el-select v-model="item_selection" @change="GetImage(item_selection)">
          <el-option v-for="(item, index) in Results.design_assessment.devices" :key="index" :value="index" :label="'Device n°'+[index+1]" style="font-size:15px"> Device n°{{ index+1 }}</el-option>
          <template v-if="is_masterstructure === true">
            <el-option :value="'masterstructure'" :label="'Masterstructure'" style="font-size:15px"> Masterstructure </el-option>
          </template>
          <template v-if="is_substation === true">
            <el-option :value="'substation'" :label="'Substation'" style="font-size:15px"> Substation </el-option>
          </template>
        </el-select>
      </ul>
      <template v-if="item_selection === 'substation'">
        <div class="v-cloak">
          {{ variable_temp = Results.design_assessment.substation }}
        </div>
      </template>

      <template v-else-if="item_selection === 'masterstructure'">
        <div class="v-cloak">
          {{ variable_temp = Results.design_assessment.master_structure }}
        </div>
      </template>

      <template v-else>
        <div class="v-cloak">
          {{ variable_temp = Results.design_assessment.devices[item_selection] }}
        </div>
      </template>

      <hr>
      <h2 class="h2_section">
        ULS Results
      </h2>

      <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar1" > Section Help </span>
      <br>
      <br>

      <span style="font-weight:bold;font-size:18px"> Anchor / Foundation Criteria </span>
      <br>
      <br>
      <template v-if="variable_temp.design_results.anchor_and_foundation.foundation_type === ''">
        <ul>
          <ul>
            <span style="font-weight:bold"> No Anchor or Foundation defined for this structure </span>
          </ul>
        </ul>
      </template>
      <template v-if="variable_temp.design_results.anchor_and_foundation.foundation_type === 'drag_anchor'">
        <ul>
          <ul>
            <table>
              <tr>
                <td style="width:200px;font-weight:bold;font-family:Open Sans"> Criteria Name </td>
                <td style="width:200px;font-weight:bold;font-family:Open Sans"> Calculated </td>
                <td style="width:200px;font-weight:bold;font-family:Open Sans"> Requirement </td>
                <td style="width:200px;font-weight:bold;font-family:Open Sans"> Check </td>
              </tr>
              <tr>
                <td> UHC </td>
                <td> {{ toScientific(variable_temp.design_results.anchor_and_foundation.drag_anchor_design.effective_uhc) }} </td>
                <td> {{ toScientific(variable_temp.design_results.anchor_and_foundation.drag_anchor_design.uhc) }} </td>
                <td>
                  <template v-if="variable_temp.design_results.anchor_and_foundation.drag_anchor_design.criteria_uhc === false">
                    <span style="color: #ff0000;font-weight:bold;font-size:20px"> Failed </span>
                  </template>
                  <template v-else>
                    <span style="color: #00ff21;font-weight:bold;font-size:20px"> Passed </span>
                  </template>
                </td>
              </tr>
            </table>
          </ul>
        </ul>
      </template>
      <template v-if="variable_temp.design_results.anchor_and_foundation.foundation_type === 'gravity_anchor' || variable_temp.design_results.anchor_and_foundation.foundation_type === 'shallow'">
        <ul>
          <ul>
            <table>
              <tr>
                <td style="width:200px;font-weight:bold;font-family:Open Sans"> Criteria Name </td>
                <td style="width:200px;font-weight:bold;font-family:Open Sans"> Calculated </td>
                <td style="width:200px;font-weight:bold;font-family:Open Sans"> Requirement </td>
                <td style="width:200px;font-weight:bold;font-family:Open Sans"> Check </td>
              </tr>
              <tr>
                <td> Bearing Capacity </td>
                <td> {{ toScientific(variable_temp.design_results.anchor_and_foundation.gravity_foundation_design.bearing_capacity) }} </td>
                <td> {{ toScientific(variable_temp.design_results.anchor_and_foundation.gravity_foundation_design.Fn_bc*variable_temp.design_results.anchor_and_foundation.gravity_foundation_design.SF) }} </td>
                <td>
                  <template v-if="variable_temp.design_results.anchor_and_foundation.gravity_foundation_design.criteria_bearing_capacity === false">
                    <span style="color: #ff0000;font-weight:bold;font-size:20px"> Failed </span>
                  </template>
                  <template v-else>
                    <span style="color: #00ff21;font-weight:bold;font-size:20px"> Passed </span>
                  </template>
                </td>
              </tr>
              <tr>
                <td> Sliding Resistance </td>
                <td> {{ toScientific(variable_temp.design_results.anchor_and_foundation.gravity_foundation_design.sliding_resistance) }} </td>
                <td> {{ toScientific(variable_temp.design_results.anchor_and_foundation.gravity_foundation_design.Fh_sr*variable_temp.design_results.anchor_and_foundation.gravity_foundation_design.SF) }} </td>
                <td>
                  <template v-if="variable_temp.design_results.anchor_and_foundation.gravity_foundation_design.criteria_sliding_resistance === false">
                    <span style="color: #ff0000;font-weight:bold;font-size:20px"> Failed </span>
                  </template>
                  <template v-else>
                    <span style="color: #00ff21;font-weight:bold;font-size:20px"> Passed </span>
                  </template>
                </td>
              </tr>
              <template v-if="variable_temp.design_results.anchor_and_foundation.gravity_foundation_design.geometry_pref === 'rectangular' || variable_temp.design_results.anchor_and_foundation.gravity_foundation_design.geometry_pref === 'contact_points'">
                <tr>
                  <td> x-stability </td>
                  <td> {{ toScientific(variable_temp.design_results.anchor_and_foundation.gravity_foundation_design.stabm_x) }} </td>
                  <td> {{ toScientific(variable_temp.design_results.anchor_and_foundation.gravity_foundation_design.Om_x*variable_temp.design_results.anchor_and_foundation.gravity_foundation_design.SF) }} </td>
                  <td rowspan="2">
                    <template v-if="variable_temp.design_results.anchor_and_foundation.gravity_foundation_design.criteria_stability === false">
                      <span style="color: #ff0000;font-weight:bold;font-size:20px"> Failed </span>
                    </template>
                    <template v-else>
                      <span style="color: #00ff21;font-weight:bold;font-size:20px"> Passed </span>
                    </template>
                  </td>
                </tr>
                <tr>
                  <td> y-stability </td>
                  <td> {{ toScientific(variable_temp.design_results.anchor_and_foundation.gravity_foundation_design.stabm_y) }} </td>
                  <td> {{ toScientific(variable_temp.design_results.anchor_and_foundation.gravity_foundation_design.Om_y*variable_temp.design_results.anchor_and_foundation.gravity_foundation_design.SF) }} </td>
                </tr>
              </template>
              <template v-else>
                <tr>
                  <td> Stability </td>
                  <td> {{ toScientific(variable_temp.design_results.anchor_and_foundation.gravity_foundation_design.stabm_r) }} </td>
                  <td> {{ toScientific(variable_temp.design_results.anchor_and_foundation.gravity_foundation_design.Om_r*variable_temp.design_results.anchor_and_foundation.gravity_foundation_design.SF) }} </td>
                  <td>
                    <template v-if="variable_temp.design_results.anchor_and_foundation.gravity_foundation_design.criteria_sliding_resistance === false">
                      <span style="color: #ff0000;font-weight:bold;font-size:20px"> Failed </span>
                    </template>
                    <template v-else>
                      <span style="color: #00ff21;font-weight:bold;font-size:20px"> Passed </span>
                    </template>
                  </td>
                </tr>
              </template>
            </table>
          </ul>
        </ul>
      </template>
      <template v-if="variable_temp.design_results.anchor_and_foundation.foundation_type === 'pile'">
        <ul>
          <ul>
            <table>
              <tr>
                <td style="width:200px;font-weight:bold;font-family:Open Sans"> Criteria Name </td>
                <td style="width:200px;font-weight:bold;font-family:Open Sans"> Calculated </td>
                <td style="width:200px;font-weight:bold;font-family:Open Sans"> Requirement </td>
                <td style="width:200px;font-weight:bold;font-family:Open Sans"> Check </td>
              </tr>
              <tr>
                <td> Lateral Capacity </td>
                <td> {{ toScientific(variable_temp.design_results.anchor_and_foundation.pile_foundation_design.lat_cap/variable_temp.design_results.anchor_and_foundation.pile_foundation_design.SF) }} </td>
                <td> {{ toScientific(variable_temp.design_results.anchor_and_foundation.pile_foundation_design.uls_res_lateral_load) }} </td>
                <td>
                  <template v-if="variable_temp.design_results.anchor_and_foundation.pile_foundation_design.criteria_lateral_capacity === false">
                    <span style="color: #ff0000;font-weight:bold;font-size:20px"> Failed </span>
                  </template>
                  <template v-else>
                    <span style="color: #00ff21;font-weight:bold;font-size:20px"> Passed </span>
                  </template>
                </td>
              </tr>
              <tr>
                <td> Axial tension capacity </td>
                <td> {{ toScientific(variable_temp.design_results.anchor_and_foundation.pile_foundation_design.tension_capacity/variable_temp.design_results.anchor_and_foundation.pile_foundation_design.SF) }} </td>
                <td> {{ toScientific(variable_temp.design_results.anchor_and_foundation.pile_foundation_design.uls_tension) }} </td>
                <td>
                  <template v-if="variable_temp.design_results.anchor_and_foundation.pile_foundation_design.criteria_axial_tension_capacity === false">
                    <span style="color: #ff0000;font-weight:bold;font-size:20px"> Failed </span>
                  </template>
                  <template v-else>
                    <span style="color: #00ff21;font-weight:bold;font-size:20px"> Passed </span>
                  </template>
                </td>
              </tr>
              <tr>
                <td> Axial compression capacity </td>
                <td> {{ toScientific(variable_temp.design_results.anchor_and_foundation.pile_foundation_design.comp_capacity/variable_temp.design_results.anchor_and_foundation.pile_foundation_design.SF) }} </td>
                <td> {{ toScientific(variable_temp.design_results.anchor_and_foundation.pile_foundation_design.uls_compression+variable_temp.design_results.anchor_and_foundation.pile_foundation_design.pile_bouyant_weight) }} </td>
                <td>
                  <template v-if="variable_temp.design_results.anchor_and_foundation.pile_foundation_design.criteria_axial_compression_capacity === false">
                    <span style="color: #ff0000;font-weight:bold;font-size:20px"> Failed </span>
                  </template>
                  <template v-else>
                    <span style="color: #00ff21;font-weight:bold;font-size:20px"> Passed </span>
                  </template>
                </td>
              </tr>
              <tr>
                <td> Steel stress criterion </td>
                <td> {{ toScientific(variable_temp.design_results.anchor_and_foundation.pile_foundation_design.S_steel) }} </td>
                <td> {{ toScientific(variable_temp.design_results.anchor_and_foundation.pile_foundation_design.section_stress) }} </td>
                <td>
                  <template v-if="variable_temp.design_results.anchor_and_foundation.pile_foundation_design.criteria_steel_stress === false">
                    <span style="color: #ff0000;font-weight:bold;font-size:20px"> Failed </span>
                  </template>
                  <template v-else>
                    <span style="color: #00ff21;font-weight:bold;font-size:20px"> Passed </span>
                  </template>
                </td>
              </tr>
            </table>
          </ul>
        </ul>
      </template>
      <template v-if="variable_temp.design_results.anchor_and_foundation.foundation_type === 'suction_caisson'">
        <ul>
          <ul>
            <table>
              <tr>
                <td style="width:200px;font-weight:bold;font-family:Open Sans"> Criteria Name </td>
                <td style="width:200px;font-weight:bold;font-family:Open Sans"> Calculated </td>
                <td style="width:200px;font-weight:bold;font-family:Open Sans"> Requirement </td>
                <td style="width:200px;font-weight:bold;font-family:Open Sans"> Check </td>
              </tr>
              <tr>
                <td> Horizontal Capacity </td>
                <td> {{ toScientific(variable_temp.design_results.anchor_and_foundation.suction_caisson_design.H_ult) }} </td>
                <td> {{ toScientific(variable_temp.design_results.anchor_and_foundation.suction_caisson_design.H_d) }} </td>
                <td>
                  <template v-if="variable_temp.design_results.anchor_and_foundation.suction_caisson_design.criteria_horizontal_capacity === false">
                    <span style="color: #ff0000;font-weight:bold;font-size:20px"> Failed </span>
                  </template>
                  <template v-else>
                    <span style="color: #00ff21;font-weight:bold;font-size:20px"> Passed </span>
                  </template>
                </td>
              </tr>
              <tr>
                <td> Uplift Capacity </td>
                <td> {{ toScientific(variable_temp.design_results.anchor_and_foundation.suction_caisson_design.V_ult) }} </td>
                <td> {{ toScientific(variable_temp.design_results.anchor_and_foundation.suction_caisson_design.V_d) }} </td>
                <td>
                  <template v-if="variable_temp.design_results.anchor_and_foundation.suction_caisson_design.criteria_uplift_capacity === false">
                    <span style="color: #ff0000;font-weight:bold;font-size:20px"> Failed </span>
                  </template>
                  <template v-else>
                    <span style="color: #00ff21;font-weight:bold;font-size:20px"> Passed </span>
                  </template>
                </td>
              </tr>
              <tr>
                <td> Failure verification </td>
                <td> {{ toScientific(variable_temp.design_results.anchor_and_foundation.suction_caisson_design.inc_verif) }} </td>
                <td> {{ 1 }} </td>
                <td>
                  <template v-if="variable_temp.design_results.anchor_and_foundation.suction_caisson_design.criteria_failure_verification === false">
                    <span style="color: #ff0000;font-weight:bold;font-size:20px"> Failed </span>
                  </template>
                  <template v-else>
                    <span style="color: #00ff21;font-weight:bold;font-size:20px"> Passed </span>
                  </template>
                </td>
              </tr>
            </table>
          </ul>
        </ul>
      </template>
      <br><br>
      <template v-if="variable_temp.design_results.mooring.line_properties.length === 0">
        <span style="font-weight:bold;font-size:18px"> Results on fixed structure </span>

        <ul>
          <h3 style="color:#16a085">Forces on fixed structure</h3>
        </ul>
        <ul>
          <ul>
            <table>
              <tr>
                <td style="font-weight:bold;width:160px;font-family:Open Sans">x translation [N]</td>
                <td style="font-weight:bold;width:160px;font-family:Open Sans">y translation [N]</td>
                <td style="font-weight:bold;width:160px;font-family:Open Sans">z translation [N]</td>
                <td style="font-weight:bold;width:160px;font-family:Open Sans">x rotation [N.m]</td>
                <td style="font-weight:bold;width:160px;font-family:Open Sans">y rotation [N.m]</td>
                <td style="font-weight:bold;width:160px;font-family:Open Sans">z rotation [N.m]</td>
              </tr>
              <tr>
                <td>{{ Math.round(variable_temp.uls_results.forces_on_fixed_structure[0][environment_selection][0]*100)/100 }}</td>
                <td>{{ Math.round(variable_temp.uls_results.forces_on_fixed_structure[0][environment_selection][1]*100)/100 }}</td>
                <td>{{ Math.round(variable_temp.uls_results.forces_on_fixed_structure[0][environment_selection][2]*100)/100 }}</td>
                <td>{{ Math.round(variable_temp.uls_results.forces_on_fixed_structure[0][environment_selection][3]*100)/100 }}</td>
                <td>{{ Math.round(variable_temp.uls_results.forces_on_fixed_structure[0][environment_selection][4]*100)/100 }}</td>
                <td>{{ Math.round(variable_temp.uls_results.forces_on_fixed_structure[0][environment_selection][5]*100)/100 }}</td>
              </tr>
            </table>
          </ul>
        </ul>
      </template>

      <template v-else>
        <span style="font-weight:bold;font-size:18px"> Line Results </span>

        <ul>
          <el-switch
            v-model="switch1"
            inactive-text="Static"
            active-text="Static + Dynamic"
            inactive-color="#409EFF"
            active-color="#409EFF"
            inactive-value="static"
            active-value="dynamic"
          />
          <br>
          <br>
          <br>
          <el-switch
            v-model="switch2"
            inactive-text="Main results"
            active-text="Detailed results"
            inactive-color="#409EFF"
            active-color="#409EFF"
            inactive-value="main"
            active-value="detail"
          />
          <br>
          <br>
        </ul>
      </template>
      <template v-if="switch2 === 'detail'">
        <ul>
          <h3 style="color:#16a085">Environment selection</h3>
        </ul>
        <ul>
          <ul>
            Select environment :
            <el-select v-model="environment_selection">
              <el-option v-for="(item, index) in Results.design_assessment.uls_environments" :key="index" :value="index" :label="'Environment n°'+[index+1]" style="font-size:15px"> Environment n°{{ index+1 }}</el-option>
            </el-select>
          </ul>
          <ul>
            Select direction :
            <el-select v-model="direction_selection">
              <el-option v-for="(item, index) in Results.design_assessment.uls_weather_directions" :key="index" :value="index" :label="Math.round(item*100)/100 + ' deg'" style="font-size:15px"> {{Math.round(Results.design_assessment.uls_weather_directions[index]*100)/100}} deg </el-option>
            </el-select>
          </ul>
        </ul>
        <ul>
          <h3 style="color:#16a085">Description of environment n° {{ environment_selection+1 }}</h3>
        </ul>
        <ul>
          <ul>
            <div>
              <table style="float:left;margin-right:25px">
                <tr>
                  <td style="font-weight:bold; width:200px;font-family:Open Sans">Current velocity [m/s]</td>
                  <td>{{ Results.design_assessment.uls_environments[environment_selection].current.velocity }}</td>
                </tr>
                <tr>
                  <td style="font-weight:bold; width:160px;font-family:Open Sans">Current direction [deg]</td>
                  <td>{{ Math.round(Results.design_assessment.uls_weather_directions[direction_selection]*100)/100 }}</td>
                </tr>
                <tr>
                  <td style="font-weight:bold; width:160px;font-family:Open Sans">Water density [kg/m^3]</td>
                  <td>{{ Results.design_assessment.uls_environments[environment_selection].current.water_density }}</td>
                </tr>
                <tr>
                  <td style="font-weight:bold; width:160px;font-family:Open Sans">Kinematic viscosity [m^2/s]</td>
                  <td>{{ Results.design_assessment.uls_environments[environment_selection].current.kinematic_viscosity }}</td>
                </tr>
              </table>
              <table style="float:left;margin-right:25px">
                <tr>
                  <td style="font-weight:bold; width:200px;font-family:Open Sans">Wind velocity [m/s]</td>
                  <td>{{ Results.design_assessment.uls_environments[environment_selection].wind.velocity }}</td>
                </tr>
                <tr>
                  <td style="font-weight:bold; width:160px;font-family:Open Sans">Wind direction [deg]</td>
                  <td>{{ Math.round(Results.design_assessment.uls_weather_directions[direction_selection]*100)/100}}</td>
                </tr>
                <tr>
                  <td style="font-weight:bold; width:160px;font-family:Open Sans">Air density [kg/m^3]</td>
                  <td>{{ Results.design_assessment.uls_environments[environment_selection].wind.air_density }}</td>
                </tr>
                <tr>
                  <td style="font-weight:bold; width:160px;font-family:Open Sans">Kinematic viscosity [m^2/s]</td>
                  <td>{{ Results.design_assessment.uls_environments[environment_selection].wind.kinematic_viscosity }}</td>
                </tr>
              </table>
              <table style="float:left;margin-right:25px">
                <tr>
                  <td style="font-weight:bold; width:200px;font-family:Open Sans">Significant wave height [m]</td>
                  <td>{{ Results.design_assessment.uls_environments[environment_selection].wave.hs }}</td>
                </tr>
                <tr>
                  <td style="font-weight:bold; width:160px;font-family:Open Sans">Wave temporal period [s]</td>
                  <td>{{ Results.design_assessment.uls_environments[environment_selection].wave.tp }}</td>
                </tr>
                <tr>
                  <td style="font-weight:bold; width:160px;font-family:Open Sans">Wave direction [deg]</td>
                  <td>{{ Math.round(Results.design_assessment.uls_weather_directions[direction_selection]*100)/100}}</td>
                </tr>
                <tr>
                  <td style="font-weight:bold; width:160px;font-family:Open Sans">Gamma [-]</td>
                  <td>{{ Results.design_assessment.uls_environments[environment_selection].wave.gamma }}</td>
                </tr>
              </table>
              <br>
              <br>
              <br>
            </div>
            <br><br><br>
            <br><br>
          </ul>
        </ul>

        <template v-if="variable_temp.design_results.mooring.line_properties.length !== 0">
          <br><br><br>
          <template v-if="switch1 === 'static'">
            <ul>
              <h3 style="color:#16a085">Static results for environment n° {{ environment_selection+1 }}</h3>
            </ul>
            <ul>
              <ul>
                <span style="font-weight:bold"> Static floater offset : </span> {{ Math.round(variable_temp.uls_results.steady_offset[direction_selection][environment_selection]*100)/100 }}
                <br><br>
                <span style="font-weight:bold">
                  Static floater position :
                </span>
                <br><br>
                <table>
                  <tr>
                    <td style="width:180px;font-weight:bold;font-family:Open Sans"> x translation [m] </td>
                    <td style="width:180px;font-weight:bold;font-family:Open Sans"> y translation [m] </td>
                    <td style="width:180px;font-weight:bold;font-family:Open Sans"> z translation [m] </td>
                    <td style="width:180px;font-weight:bold;font-family:Open Sans"> x rotation [deg] </td>
                    <td style="width:180px;font-weight:bold;font-family:Open Sans"> y rotation [deg] </td>
                    <td style="width:180px;font-weight:bold;font-family:Open Sans"> z rotation [deg] </td>
                  </tr>
                  <tr>
                    <td> {{ Math.round(variable_temp.uls_results.steady_position[direction_selection][environment_selection][0]*100)/100 }} </td>
                    <td> {{ Math.round(variable_temp.uls_results.steady_position[direction_selection][environment_selection][1]*100)/100 }} </td>
                    <td> {{ Math.round(variable_temp.uls_results.steady_position[direction_selection][environment_selection][2]*100)/100 }} </td>
                    <td> {{ Math.round((variable_temp.uls_results.steady_position[direction_selection][environment_selection][3])*(180/Math.PI)*100)/100 }} </td>
                    <td> {{ Math.round((variable_temp.uls_results.steady_position[direction_selection][environment_selection][4])*(180/Math.PI)*100)/100 }} </td>
                    <td> {{ Math.round((variable_temp.uls_results.steady_position[direction_selection][environment_selection][5])*(180/Math.PI)*100)/100 }} </td>
                  </tr>
                </table>
                <br><br>
                <span style="font-weight:bold">
                  Environmental mean force :
                </span>
                <br><br>
                <table>
                  <tr>
                    <td style="width:180px;font-weight:bold;font-family:Open Sans"> x translation [N] </td>
                    <td style="width:180px;font-weight:bold;font-family:Open Sans"> y translation [N] </td>
                    <td style="width:180px;font-weight:bold;font-family:Open Sans"> z translation [N] </td>
                    <td style="width:180px;font-weight:bold;font-family:Open Sans"> x rotation [N] </td>
                    <td style="width:180px;font-weight:bold;font-family:Open Sans"> y rotation [N] </td>
                    <td style="width:180px;font-weight:bold;font-family:Open Sans"> z rotation [N] </td>
                  </tr>
                  <tr>
                    <td> {{ Math.round(variable_temp.uls_results.steady_force[direction_selection][environment_selection][0]*100)/100 }} </td>
                    <td> {{ Math.round(variable_temp.uls_results.steady_force[direction_selection][environment_selection][1]*100)/100 }} </td>
                    <td> {{ Math.round(variable_temp.uls_results.steady_force[direction_selection][environment_selection][2]*100)/100 }} </td>
                    <td> {{ Math.round(variable_temp.uls_results.steady_force[direction_selection][environment_selection][3]*100)/100 }} </td>
                    <td> {{ Math.round(variable_temp.uls_results.steady_force[direction_selection][environment_selection][4]*100)/100 }} </td>
                    <td> {{ Math.round(variable_temp.uls_results.steady_force[direction_selection][environment_selection][5]*100)/100 }} </td>
                  </tr>
                </table>
                <br><br>
                <span style="font-weight:bold">
                  Static mooring force :
                </span>
                <br><br>
                <table>
                  <tr>
                    <td style="background-color: #FFFFFF;border-left-style:hidden;border-top-style:hidden" />
                    <td colspan="3" style="font-weight:bold;font-family:Open Sans"> Start Point </td>
                    <td colspan="3" style="font-weight:bold;font-family:Open Sans"> End Point </td>
                  </tr>
                  <tr>
                    <td style="width:155px;font-weight:bold;font-family:Open Sans"> Line Name </td>
                    <td style="width:155px;font-weight:bold;font-family:Open Sans"> x [N] </td>
                    <td style="width:155px;font-weight:bold;font-family:Open Sans"> y [N] </td>
                    <td style="width:155px;font-weight:bold;font-family:Open Sans"> z [N] </td>
                    <td style="width:155px;font-weight:bold;font-family:Open Sans"> x [N] </td>
                    <td style="width:155px;font-weight:bold;font-family:Open Sans"> y [N] </td>
                    <td style="width:155px;font-weight:bold;font-family:Open Sans"> z [N] </td>
                  </tr>
                  <tr v-for="(i,j) in variable_temp.uls_results.steady_mooring_force[0][0]" :key="(i,j)">
                    <td> Line n°{{ j+1 }} </td>
                    <td> {{ Math.round(variable_temp.uls_results.steady_mooring_force[direction_selection][environment_selection][j][0][0]*100)/100 }} </td>
                    <td> {{ Math.round(variable_temp.uls_results.steady_mooring_force[direction_selection][environment_selection][j][0][1]*100)/100 }} </td>
                    <td> {{ Math.round(variable_temp.uls_results.steady_mooring_force[direction_selection][environment_selection][j][0][2]*100)/100 }} </td>
                    <td> {{ Math.round(variable_temp.uls_results.steady_mooring_force[direction_selection][environment_selection][j][1][0]*100)/100 }} </td>
                    <td> {{ Math.round(variable_temp.uls_results.steady_mooring_force[direction_selection][environment_selection][j][1][1]*100)/100 }} </td>
                    <td> {{ Math.round(variable_temp.uls_results.steady_mooring_force[direction_selection][environment_selection][j][1][2]*100)/100 }} </td>
                  </tr>
                </table>
                <br><br>
                <span style="font-weight:bold">
                  Static mooring tension & ULS Criteria :
                </span>
                <br><br>
                <table>
                  <tr>
                    <td style="width:180px;font-weight:bold;font-family:Open Sans"> Line Name </td>
                    <td style="width:180px;font-weight:bold;font-family:Open Sans"> Start point tension [N] </td>
                    <td style="width:180px;font-weight:bold;font-family:Open Sans"> End point tension [N] </td>
                    <td style="width:180px;font-weight:bold;font-family:Open Sans"> SF * Max Tension [N] </td>
                    <td style="width:180px;font-weight:bold;font-family:Open Sans"> MBL [N] </td>
                    <td style="width:180px;font-weight:bold;font-family:Open Sans"> ULS Criteria </td>
                  </tr>
                  <tr v-for="(i,j) in variable_temp.uls_results.steady_mooring_tension[0][0]" :key="(i,j)">
                    <td> Line n°{{ j+1 }} </td>
                    <td> {{ Math.round(variable_temp.uls_results.steady_mooring_tension[direction_selection][environment_selection][j][0]*100)/100 }} </td>
                    <td> {{ Math.round(variable_temp.uls_results.steady_mooring_tension[direction_selection][environment_selection][j][1]*100)/100 }} </td>
                    <td> {{ Math.round((Math.max(variable_temp.uls_results.steady_mooring_tension[direction_selection][environment_selection][j][0],variable_temp.uls_results.steady_mooring_tension[direction_selection][environment_selection][j][1])*variable_temp.uls_results.safety_factor)*100)/100 }} </td>
                    <td> {{ variable_temp.uls_results.mbl_uls[j] }} </td>
                    <template v-if="variable_temp.uls_results.tension_versus_mbl[direction_selection][environment_selection][j][0]>1 && variable_temp.uls_results.tension_versus_mbl[direction_selection][environment_selection][j][1]>1">
                      <td style="color: #ff0000;font-weight:bold;font-size:20px"> Failed </td>
                    </template>
                    <template v-else>
                      <td style="color: #00ff21;font-weight:bold;font-size:20px"> Passed </td>
                    </template>
                  </tr>
                </table>
              </ul>
            </ul>
          </template>
          <template v-else-if="switch1 === 'dynamic'">
            <ul>
              <h3 style="color:#16a085">Static + Dynamic results for environment n° {{ environment_selection+1 }}</h3>
            </ul>
            <ul>
              <ul>
                <span style="font-weight:bold"> Dynamic floater offset : </span> {{ Math.round(variable_temp.uls_results.dynamic_offset[direction_selection][environment_selection]*100)/100 }}
                <br><br>
                <span style="font-weight:bold"> Total floater offset : </span>
                {{ Math.round(variable_temp.uls_results.total_offset[direction_selection][environment_selection]*100)/100 }}
                <br><br>
                <span style="font-weight:bold"> Estimated maximal floater position : </span>
                <br><br>
                <table>
                  <tr>
                    <td style="width:180px;font-weight:bold;font-family:Open Sans"> x translation [m] </td>
                    <td style="width:180px;font-weight:bold;font-family:Open Sans"> y translation [m] </td>
                    <td style="width:180px;font-weight:bold;font-family:Open Sans"> z translation [m] </td>
                    <td style="width:180px;font-weight:bold;font-family:Open Sans"> x rotation [deg] </td>
                    <td style="width:180px;font-weight:bold;font-family:Open Sans"> y rotation [deg] </td>
                    <td style="width:180px;font-weight:bold;font-family:Open Sans"> z rotation [deg] </td>
                  </tr>
                  <tr>
                    <td> {{ Math.round(variable_temp.uls_results.total_position[direction_selection][environment_selection][0]*100)/100 }} </td>
                    <td> {{ Math.round(variable_temp.uls_results.total_position[direction_selection][environment_selection][1]*100)/100 }} </td>
                    <td> {{ Math.round(variable_temp.uls_results.total_position[direction_selection][environment_selection][2]*100)/100 }} </td>
                    <td> {{ Math.round((variable_temp.uls_results.total_position[direction_selection][environment_selection][3])*(180/Math.PI)*100)/100 }} </td>
                    <td> {{ Math.round((variable_temp.uls_results.total_position[direction_selection][environment_selection][4])*(180/Math.PI)*100)/100 }} </td>
                    <td> {{ Math.round((variable_temp.uls_results.total_position[direction_selection][environment_selection][5])*(180/Math.PI)*100)/100 }} </td>
                  </tr>
                </table>
                <br><br>
                <span style="font-weight:bold">
                  Mooring force [N] :
                </span>
                <br><br>
                <table>
                  <tr>
                    <td style="background-color: #FFFFFF;border-left-style:hidden;border-top-style:hidden" />
                    <td colspan="3" style="font-weight:bold;font-family:Open Sans"> Start Point </td>
                    <td colspan="3" style="font-weight:bold;font-family:Open Sans"> End Point </td>
                  </tr>
                  <tr>
                    <td style="width:155px;font-weight:bold;font-family:Open Sans"> Line Name </td>
                    <td style="width:155px;font-weight:bold;font-family:Open Sans"> x </td>
                    <td style="width:155px;font-weight:bold;font-family:Open Sans"> y </td>
                    <td style="width:155px;font-weight:bold;font-family:Open Sans"> z </td>
                    <td style="width:155px;font-weight:bold;font-family:Open Sans"> x </td>
                    <td style="width:155px;font-weight:bold;font-family:Open Sans"> y </td>
                    <td style="width:155px;font-weight:bold;font-family:Open Sans"> z </td>
                  </tr>
                  <tr v-for="(i,j) in variable_temp.uls_results.mooring_force[0][0]" :key="(i,j)">
                    <td> Line n°{{ j+1 }} </td>
                    <td> {{ Math.round(variable_temp.uls_results.mooring_force[direction_selection][environment_selection][j][0][0]*100)/100 }} </td>
                    <td> {{ Math.round(variable_temp.uls_results.mooring_force[direction_selection][environment_selection][j][0][1]*100)/100 }} </td>
                    <td> {{ Math.round(variable_temp.uls_results.mooring_force[direction_selection][environment_selection][j][0][2]*100)/100 }} </td>
                    <td> {{ Math.round(variable_temp.uls_results.mooring_force[direction_selection][environment_selection][j][1][0]*100)/100 }} </td>
                    <td> {{ Math.round(variable_temp.uls_results.mooring_force[direction_selection][environment_selection][j][1][1]*100)/100 }} </td>
                    <td> {{ Math.round(variable_temp.uls_results.mooring_force[direction_selection][environment_selection][j][1][2]*100)/100 }} </td>
                  </tr>
                </table>
                <br><br>
                <span style="font-weight:bold">
                  Mooring tension & ULS Criteria :
                </span>
                <br><br>
                <table>
                  <tr>
                    <td style="width:180px;font-weight:bold;font-family:Open Sans"> Line Name </td>
                    <td style="width:180px;font-weight:bold;font-family:Open Sans"> Start point tension [N] </td>
                    <td style="width:180px;font-weight:bold;font-family:Open Sans"> End point tension [N] </td>
                    <td style="width:180px;font-weight:bold;font-family:Open Sans"> SF * Max Tension </td>
                    <td style="width:180px;font-weight:bold;font-family:Open Sans"> MBL [N] </td>
                    <td style="width:180px;font-weight:bold;font-family:Open Sans"> ULS Criteria </td>
                  </tr>
                  <tr v-for="(i,j) in variable_temp.uls_results.mooring_tension[0][0]" :key="(i,j)">
                    <td> Line n°{{ j+1 }} </td>
                    <td> {{ Math.round(variable_temp.uls_results.mooring_tension[direction_selection][environment_selection][j][0]*100)/100 }} </td>
                    <td> {{ Math.round(variable_temp.uls_results.mooring_tension[direction_selection][environment_selection][j][1]*100)/100 }} </td>
                    <td> {{ Math.round(((Math.max(variable_temp.uls_results.mooring_tension[direction_selection][environment_selection][j][0],variable_temp.uls_results.mooring_tension[direction_selection][environment_selection][j][1]))*variable_temp.uls_results.safety_factor)*100)/100 }} </td>
                    <td> {{ variable_temp.uls_results.mbl_uls[j] }} </td>
                    <template v-if="variable_temp.uls_results.tension_versus_mbl[direction_selection][environment_selection][j][0]>1 && variable_temp.uls_results.tension_versus_mbl[direction_selection][environment_selection][j][1]>1">
                      <td style="color: #ff0000;font-weight:bold;font-size:20px"> Failed </td>
                    </template>
                    <template v-else>
                      <td style="color: #00ff21;font-weight:bold;font-size:20px"> Passed </td>
                    </template>
                  </tr>
                </table>
              </ul>
            </ul>
          </template>
        </template>
      </template>

      <template v-else>
        <template v-if="variable_temp.design_results.mooring.line_properties.length === 0">
          <ul>
            <h3 style="color:#16a085">Critical line, environment and weather direction</h3>
          </ul>
          <ul>
            <ul>
              <span style="font-weight:bold"> This structure is bottom fixed (no mooring system) </span>
            </ul>
          </ul>
        </template>
        <template v-else>
          <template v-if="switch1 === 'static'">
            <div class="v-cloak">
              <template v-for="(h,hh) in variable_temp.uls_results.steady_mooring_tension">
                <template v-for="(i,ii) in variable_temp.uls_results.steady_mooring_tension[hh]">
                  <template v-for="(j,jj) in variable_temp.uls_results.steady_mooring_tension[hh][ii]">
                    <template v-for="(k,kk) in variable_temp.uls_results.steady_mooring_tension[hh][ii][jj]">
                      <template v-if="variable_temp.uls_results.steady_mooring_tension[hh][ii][jj][kk] > search_max">
                        {{ search_max = variable_temp.uls_results.steady_mooring_tension[hh][ii][jj][kk] }}
                        {{ index_max_line = jj }}
                        {{ index_max_env = ii }}
                        {{ index_max_dir = hh }}
                        {{ index_max_end = kk }}
                      </template>
                    </template>
                  </template>
                </template>
              </template>
            </div>
            <ul>
              <h3 style="color:#16a085">Critical line, environment and weather direction</h3>
            </ul>
            <ul>
              <ul>
                <table>
                  <tr>
                    <td style="font-weight:bold;width:150px;font-family:Open Sans"> Line Name </td>
                    <td style="font-weight:bold;width:200px;font-family:Open Sans"> Environment name </td>
                    <td style="font-weight:bold;width:160px;font-family:Open Sans"> Direction [deg] </td>
                    <td style="font-weight:bold;width:160px;font-family:Open Sans"> Maximum tension [N] </td>
                    <td style="font-weight:bold;width:160px;font-family:Open Sans"> MBL [N] </td>
                    <td style="font-weight:bold;width:160px;font-family:Open Sans"> ULS Criteria </td>
                  </tr>
                  <tr>
                    <td>Line n°{{ index_max_line+1 }}</td>
                    <td>
                      Environment n° {{ index_max_env+1 }}
                      <i class="el-icon-info" style="cursor: pointer" @click.prevent="index_env = index_max_env; openEnvInfo = true" />
                    </td>
                    <td> {{ Math.round(Results.design_assessment.uls_weather_directions[index_max_dir]*100)/100 }} </td>
                    <td>{{ Math.round(search_max*100)/100 }}</td>
                    <td> {{ Math.round(variable_temp.uls_results.mbl_uls[index_max_line]*100)/100 }} </td>
                    <template v-if="variable_temp.uls_results.tension_versus_mbl[index_max_dir][index_max_env][index_max_line][index_max_end]>1">
                      <td style="color: #ff0000;font-weight:bold;font-size:20px"> Failed </td>
                    </template>
                    <template v-else>
                      <td style="color: #00ff21;font-weight:bold;font-size:20px"> Passed </td>
                    </template>
                  </tr>
                </table>
              </ul>
            </ul>
          </template>
          <template v-if="switch1 === 'dynamic'">
            <div class="v-cloak">
              <template v-for="(h,hh) in variable_temp.uls_results.mooring_tension">
                <template v-for="(i,ii) in variable_temp.uls_results.mooring_tension[hh]">
                  <template v-for="(j,jj) in variable_temp.uls_results.mooring_tension[hh][ii]">
                    <template v-for="(k,kk) in variable_temp.uls_results.mooring_tension[hh][ii][jj]">
                      <template v-if="variable_temp.uls_results.mooring_tension[hh][ii][jj][kk] > search_max2">
                        {{ search_max2 = variable_temp.uls_results.mooring_tension[hh][ii][jj][kk] }}
                        {{ index_max_line2 = jj }}
                        {{ index_max_env2 = ii }}
                        {{ index_max_dir2 = hh }}
                        {{ index_max_end2 = kk }}
                      </template>
                    </template>
                  </template>
                </template>
              </template>
            </div>
            <ul>
              <h3 style="color:#16a085">Critical line, environment and weather direction</h3>
            </ul>
            <ul>
              <ul>
                <table>
                  <tr>
                    <td style="font-weight:bold;width:150px;font-family:Open Sans"> Line Name </td>
                    <td style="font-weight:bold;width:200px;font-family:Open Sans"> Environment name </td>
                    <td style="font-weight:bold;width:160px;font-family:Open Sans"> Direction [deg] </td>
                    <td style="font-weight:bold;width:160px;font-family:Open Sans"> Maximum tension [N] </td>
                    <td style="font-weight:bold;width:160px;font-family:Open Sans"> MBL [N] </td>
                    <td style="font-weight:bold;width:160px;font-family:Open Sans"> ULS Criteria </td>
                  </tr>
                  <tr>
                    <td>Line n°{{ index_max_line+1 }}</td>
                    <td>
                      Environment n° {{ index_max_env2+1 }}
                      <i class="el-icon-info" style="cursor: pointer" @click.prevent="index_env = index_max_env2; openEnvInfo = true" />
                    </td>
                    <td> {{ Math.round(Results.design_assessment.uls_weather_directions[index_max_dir2]*100)/100 }} </td>
                    <td>{{ Math.round(search_max2*100)/100 }}</td>
                    <td> {{ Math.round(variable_temp.uls_results.mbl_uls[index_max_line2]*100)/100 }} </td>
                    <template v-if="variable_temp.uls_results.tension_versus_mbl[index_max_dir2][index_max_env2][index_max_line2][index_max_end2]>1">
                      <td style="color: #ff0000;font-weight:bold;font-size:20px"> Failed </td>
                    </template>
                    <template v-else>
                      <td style="color: #00ff21;font-weight:bold;font-size:20px"> Passed </td>
                    </template>
                  </tr>
                </table>
              </ul>
            </ul>
          </template>
        </template>
      </template>

      <el-dialog :visible.sync="openEnvInfo" align="center">
        <span style="font-weight:bold;font-style:italic">
          Full description of environment n° {{ index_env+1 }}
        </span>
        <br>
        <br>
        <table>
          <tr>
            <td style="font-weight:bold; width:200px;font-family:Open Sans">Current velocity [m/s]</td>
            <td>{{ Results.design_assessment.uls_environments[index_env].current.velocity }}</td>
          </tr>
          <tr>
            <td style="font-weight:bold; width:160px;font-family:Open Sans">Water density [kg/m^3]</td>
            <td>{{ Results.design_assessment.uls_environments[index_env].current.water_density }}</td>
          </tr>
          <tr>
            <td style="font-weight:bold; width:160px;font-family:Open Sans">Kinematic viscosity [m^2/s]</td>
            <td>{{ Results.design_assessment.uls_environments[index_env].current.kinematic_viscosity }}</td>
          </tr>
        </table>
        <br>
        <br>
        <table>
          <tr>
            <td style="font-weight:bold; width:200px;font-family:Open Sans">Wind velocity [m/s]</td>
            <td>{{ Results.design_assessment.uls_environments[index_env].wind.velocity }}</td>
          </tr>
          <tr>
            <td style="font-weight:bold; width:160px;font-family:Open Sans">Air density [kg/m^3]</td>
            <td>{{ Results.design_assessment.uls_environments[index_env].wind.air_density }}</td>
          </tr>
          <tr>
            <td style="font-weight:bold; width:160px;font-family:Open Sans">Kinematic viscosity [m^2/s]</td>
            <td>{{ Results.design_assessment.uls_environments[index_env].wind.kinematic_viscosity }}</td>
          </tr>
        </table>
        <br>
        <br>
        <table>
          <tr>
            <td style="font-weight:bold; width:200px;font-family:Open Sans">Significant wave height [m]</td>
            <td>{{ Results.design_assessment.uls_environments[index_env].wave.hs }}</td>
          </tr>
          <tr>
            <td style="font-weight:bold; width:160px;font-family:Open Sans">Wave temporal period [s]</td>
            <td>{{ Results.design_assessment.uls_environments[index_env].wave.tp }}</td>
          </tr>
          <tr>
            <td style="font-weight:bold; width:160px;font-family:Open Sans">Gamma [-]</td>
            <td>{{ Results.design_assessment.uls_environments[index_env].wave.gamma }}</td>
          </tr>
        </table>
        <br>
        <br>
        <span slot="footer" class="dialog-footer">
          <el-button type="danger" @click.prevent="openEnvInfo = false">Close</el-button>
        </span>
      </el-dialog>
      <hr>
      <h2 class="h2_section">
        FLS Results
      </h2>

      <span style="cursor:pointer; font-style: italic; text-decoration: underline; font-size:15px; color:blue" @click.prevent="openSidebar2" > Section Help </span>

      <ul>
        <h3 style="color:#16a085">FLS Criteria</h3>
      </ul>

      <template v-if="variable_temp.fls_results.damage_one_year[0] === 0">
        <ul>
          <ul>
            <span style="font-weight:bold"> No FLS Results for this structure </span>
          </ul>
        </ul>
      </template>
      <template v-else>
        <ul>
          <ul>
            <span style="font-weight:bold"> Target Lifetime : </span> {{ variable_temp.fls_results.n_years_lifetime }} [years]
            <br><br>
            <span style="font-weight:bold"> Safety Factor : </span> {{ variable_temp.fls_results.gamma_f }}
            <br><br>
            <table>
              <tr>
                <td style="width:180px;font-weight:bold;font-family:Open Sans"> Line Name </td>
                <td style="width:180px;font-weight:bold;font-family:Open Sans"> Damage 1-year </td>
                <td style="width:180px;font-weight:bold;font-family:Open Sans"> Damage Lifetime </td>
                <td style="width:180px;font-weight:bold;font-family:Open Sans"> Calculated (1-SF*damage) </td>
                <td style="width:180px;font-weight:bold;font-family:Open Sans"> Requirement </td>
                <td style="width:180px;font-weight:bold;font-family:Open Sans"> Check </td>
              </tr>
              <tr v-for="(i,j) in variable_temp.fls_results.damage_one_year" :key="(i,j)">
                <td> Line n°{{ j+1 }} </td>
                <td> {{ toScientific(variable_temp.fls_results.damage_one_year[j]) }} </td>
                <td> {{ toScientific(variable_temp.fls_results.damage_lifetime[j]) }} </td>
                <td> {{ Math.round(variable_temp.fls_results.fls_criteria_1[j]*100)/100 }} </td>
                <td> >0 </td>
                <template v-if="variable_temp.fls_results.fls_criteria_1[j]>0">
                  <td style="color: #00ff21;font-weight:bold;font-size:20px"> Passed </td>
                </template>
                <template v-else>
                  <td style="color: #ff0000;font-weight:bold;font-size:20px"> Failed </td>
                </template>
              </tr>
            </table>
            <br><br>
            <span style="font-weight:bold"> CDF of the expected value of the stress range process: </span>
            <br>
            <img :src="image" style="position:relative" />
          </ul>
        </ul>
      </template>
    </template>

    <br>
    <br>
    <br>
    <img center width="300px" src="@/assets/logos/dtoceanplus_logo.png" alt="Center image" align="right">
    <br>

  </div>
</template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'
import { DTOP_DOMAIN, DTOP_PROTOCOL } from "@/../dtop/dtopConsts"
export default {
  data() {
    return {
      activeNames: [],
      item_selection: 0,
      is_masterstructure: '',
      is_substation: '',
      variable_temp: '',
      switch1: 'dynamic',
      switch2: 'main',
      environment_selection: 0,
      direction_selection: 0,
      search_max: 0,
      index_max_line: 0,
      index_max_env: 0,
      index_max_dir: 0,
      index_max_end: 0,
      search_max2: 0,
      index_max_line2: 0,
      index_max_env2: 0,
      index_max_dir2: 0,
      index_max_end2: 0,
      openEnvInfo: false,
      index_env: 0,
      image: ''
    }
  },
  computed: {
    ...mapState(['Project', 'ProjectStatus', 'Results', 'Name'])
  },
  beforeMount() {
    this.InitialiseLocalVariables()
    this.GetImage(1)
  },
  methods: {
    InitialiseLocalVariables() {
      if (this.Results.design_assessment.master_structure.design_results.anchor_and_foundation.foundation_type === '') {
        this.is_masterstructure = false
      } else {
        this.is_masterstructure = true
      }
      if (this.Results.design_assessment.substation.design_results.anchor_and_foundation.foundation_type === 'drag_anchor' || this.Results.design_assessment.substation.design_results.anchor_and_foundation.foundation_type === 'sucction_anchor' || this.Results.design_assessment.substation.design_results.anchor_and_foundation.foundation_type === '') {
        this.is_substation = false
      } else {
        this.is_substation = true
      }
    },
    GoToBOM() {
      this.$router.push({ name: 'BOM' })
    },
    GoToEI() {
      this.$router.push({ name: 'Environmental_Impact' })
    },
    GoToDA() {
      this.$router.push({ name: 'Design_Assessment' })
    },
    toScientific(value) {
      if (value !== 0) {
        var notation = Number.parseFloat(value).toExponential(2)
      } else {
        notation = value
      }
      return notation
    },
    GetImage(index) {
      const path = `${DTOP_PROTOCOL}//sk.${DTOP_DOMAIN}/sk/${this.ProjectStatus.entity_id}/${this.Project.name}/GetFLSImage`
      if (index !== 'masterstructure' && index !== 'substation') {
        const payload = { index: index }
        axios({
          method: 'get',
          url: path,
          params: payload
        })
          .then((res) => {
            this.image = `data:image/png;base64, ${res.data}`
          })
      }
    },
    async openSidebar1() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'ULS Results',
        message: '<span> This section summarizes the results from the ULS analysis performed in the SK module. </span>',

        duration: 0,
        position: 'top-right'
      })
    },
    async openSidebar2() {
      await this.$notify.closeAll()
      this.$notify.info({
        customClass: 'my_notify',
        dangerouslyUseHTMLString: true,
        title: 'FLS Results',
        message: '<span> This section summarizes the results from the FLS analysis performed in the SK module. </span>',

        duration: 0,
        position: 'top-right'
      })
    }
  }
}
</script>

<style lang="scss">

  .h2_section {
    user-select: none;
    font-size: 25px;
    font-family: "Rajdhani";
  }

  table {
    border-collapse: collapse;
    border: 1.5px solid #444444;
    border-radius: 3px;
    background-color: #fff;
  }

  td {
    background-color: #f9f9f9;
  }

  th, td {
    min-width: 120px;
    padding: 10px 10px;
    border: 1.5px solid #444444;
    text-align: center;
  }

    th.active {
      color: #0400ff;
    }

      th.active .arrow {
        opacity: 1;
      }

body { min-width: 1300px; }

span { font-family: "Open Sans" }

h3 { font-family: "Rajdhani"}
</style>
